﻿@model TVMLib.dl.AdminProCategory.AdminProCategoryVM
<div class="modal-header">
    編輯產品類別
</div>
@using (Html.BeginForm("Edit", "AdminProCategory", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user-form" }))
{
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CATEGORY_GUID)
        <div class="v-type">
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.NAME)
                </div>
                @Html.TextBoxFor(m => m.NAME, new { @Placeholder = "請輸入產品類別" })
            </div>
            @Html.ValidationMessageFor(m => m.NAME, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.NOTE)
                </div>
                @Html.TextAreaFor(m => m.NOTE, new { @Placeholder = "請輸入產品介紹" })
            </div>

            @Html.ValidationMessageFor(m => m.NOTE, "", new { @class = "error-tip" })


            @if (Model != null)
            {
                if (!string.IsNullOrEmpty(Model.PIC_PATH))
                {

                    <div class="field">
                        <div class="field-name">
                            圖片瀏覽
                        </div>
                        <img src="../@Model.PIC_PATH.Substring(Model.PIC_PATH.IndexOf("UPLOADFILES"))" width="200px" height="auto" />
                        @Html.HiddenFor(m => m.PIC_PATH)
                    </div>
                }
            }
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.PIC_PATH)
                </div>
                @Html.TextBoxFor(m => m.PIC_PATH_UPLOAD, new { type = "file" })
            </div>


        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-01">儲存</button>
    </div>

}
