﻿@model List<TVMLib.dl.TB_PRODUCT_CATEGORY>
@{
    ViewBag.Title = "產品類別管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            產品類別管理
        </div>
    </div>
    <div class="common-wrap">
        <form action="@Url.Action("Search")" method="get">
            <div class="filter-block">
                <div class="title">
                    Filter
                </div>
                <div class="filter-field">
                    <label>關鍵字</label>
                    <input type="type" name="name" value="" />
                </div>
                <a href="#" class="btn btn-01">查詢</a>
            </div>
        </form>
        <div class="edit-block">
            <a href="@Url.Action("Add")" class="btn btn-01" data-toggle="modal" data-target="#modal-container">新增</a>
        </div>
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>類別名稱</th>
                        <th>類別介紹</th>
                        <th>圖片</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                            <tr>
                                <td>@Item.NAME</td>
                                <td>@Item.NOTE</td>
                                <td style="width:300px;" >
                                    @if (!string.IsNullOrEmpty(Item.PIC_PATH))
                                    {
                                        <img src="../@Item.PIC_PATH.Substring(Item.PIC_PATH.IndexOf("UPLOADFILES"))" width="300px" height="auto" />
                                    }
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit",new {p_CATEGORY_GUID=Item.CATEGORY_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-01">修改</a>
                                    <a href="@Url.Action("Delete",new {p_CATEGORY_GUID=Item.CATEGORY_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-02">刪除</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>


