﻿@model List<TVMLib.dl.TB_SLIDER>
@{
    ViewBag.Title = "首頁輪播管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            首頁輪播管理
        </div>
    </div>
    <div class="common-wrap">       
        <div class="edit-block">
            <a href="@Url.Action("Add")" class="btn btn-01">新增</a>
        </div>
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>小標題</th>
                        <th>大標題</th>            
                        <th>圖片</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                            <tr>
                                <td>@Item.TITLE_SUB</td>
                                <td>@Item.TITLE_MAIN</td>                         
                                <td>
                                    @if (!string.IsNullOrEmpty(Item.SLIDER_PATH))
                                    {
                                        <img src="../@Item.SLIDER_PATH.Substring(Item.SLIDER_PATH.IndexOf("UPLOADFILES"))" width="300px" height="auto" />
                                    }
                                </td>
                              
                                <td>
                                    <a href="@Url.Action("Edit",new {p_SLIDER_GUID=Item.SLIDER_GUID})" class="btn btn-01">修改</a>
                                    <a href="@Url.Action("Delete",new {p_SLIDER_GUID=Item.SLIDER_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-02">刪除</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>


