﻿@model List<TVMLib.dl.TB_NEWS>
@{
    ViewBag.Title = "雄大科技後台管理系統";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="index-banner">
    <div class="banner-text common-wrap">
        <div>
            雄大科技後台管理系統
        </div>
        <span>點選功能列表內的設定功能</span><br />
        <span>開始進行系統的相關資料設定</span><br /><br />
        <a class="btn btn-01" href="@Url.Action("Index","Index")">連結前台</a>
    </div>
</div>


<style>
    .footer {
        box-sizing: border-box;
        /* 設定footer絕對位置在底部 */
        position: absolute;
        bottom: 0;
        /* 展開footer寬度 */
        width: 100%;
    }
</style>