﻿@model TVMLib.dl.TB_NEWS
@{
    ViewBag.Title = "最新消息-明細";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<div class="main">
    <!-- Header section start -->
    <section class="module-small bg-dark bg-dark-60" data-background="../../assets/images/QA.jpg">
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt">最新消息 - 明細 </h1>


                </div>

            </div><!-- .row -->

        </div>
    </section>
    <!-- Header section end -->

    <section class="module-small">
        <div class="container">

            <div class="col-sm-12 et-icons">

                <h4 class="font-alt mb-0 text-center"> @Model.TITLE (@(Model.CREATE_TIME?.ToString("yyyy/MM/dd"))) </h4>
                <hr class="divider-w mt-10 mb-20">
                
                @Html.Raw(Model.MAIN)
            

            </div><!-- .col -->
        </div>
    </section>


</div>
 <style>
        .footer {
            box-sizing: border-box;
            /* 設定footer絕對位置在底部 */
            position: absolute;
            bottom: 0;
            /* 展開footer寬度 */
            width: 100%;
        }
    </style>