﻿@model TVMLib.dl.Order.OrderAndDetailVM
@{
    ViewBag.Title = "訂單明細";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            訂單明細
        </div>
    </div>
    <div class="common-wrap">
        <div class="footable-wrap">
            訂單資訊
            <hr />
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>訂單號碼</th>
                        <th>訂購人</th>
                        <th>電話</th>
                        <th>Email</th>
                        <th>配送地址</th>
                        <th>總計</th>
                   
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {


                        <tr>
                            <td>@Model.ORDER_NO</td>
                            <td>@Model.l_TB_USER.NAME</td>
                            <td>@Model.l_TB_USER.TEL</td>
                            <td>@Model.l_TB_USER.EMAIL</td>
                            <td>@Model.l_TB_USER.ADDRESS</td>
                            <td>@Model.TOTAL_AMOUNT</td>
                          
                        </tr>

                    }
                </tbody>
            </table>
            <br />
            <br />
            訂單明細
            <hr />
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>商品名稱</th>
                        <th>商品單價</th>
                        <th>商品數量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.l_TB_ORDER_DETAIL.Count; i++)
                        {
                            var Item = Model.l_TB_ORDER_DETAIL.ElementAt(i);
                            <tr>
                                <td>@Item.l_TB_PRODUCT.NAME</td>
                                <td>@Item.PRICE</td>
                                <td>@Item.UNIT</td>
                                <td>@Item.SUB_TOTAL</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>


        </div>

    </div>

</div>
