﻿@model List<TVMLib.dl.Order.OrderAndDetailVM>
@{
    ViewBag.Title = "訂單管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            訂單管理
        </div>
    </div>
    <div class="common-wrap">
        <form action="@Url.Action("Search")" method="get">
            <div class="filter-block">
                <div class="title">
                    Filter
                </div>
                <div class="filter-field">
                    <label>訂單號碼</label>
                    <input type="text" name="p_KeyWord" placeholder="如：20200607" value="" />
                </div>
                <button type="submit" class="btn btn-01">查詢</button>
            </div>
        </form>
        
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>訂單號碼</th>
                        <th>訂購人</th>
                        <th>電話</th>
                        <th>Email</th>
                        <th>配送地址</th>
                        <th>總計</th>              
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                            <tr>
                                <td>@Item.ORDER_NO</td>
                                <td>@Item.l_TB_USER.NAME</td>
                                <td>@Item.l_TB_USER.TEL</td>
                                <td>@Item.l_TB_USER.EMAIL</td>
                                <td>@Item.l_TB_USER.ADDRESS</td>
                                <td>@Item.TOTAL_AMOUNT</td>
                                <td>
                                    <a href="@Url.Action("AdminOrderDetail","AdminOrder",new{p_ORDER_GUID=Item.ORDER_GUID})" class="btn btn-01">檢視明細</a>
                                   
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

