﻿@model TVMLib.dl.Order.OrderAndDetailVM
@{
    ViewBag.Title = "填寫地址資訊";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}



<section class="module">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt">結帳清單 | 總計：@Model.l_TB_ORDER_DETAIL.Sum(m => m.SUB_TOTAL)</h1>
            </div>
        </div>

        <hr class="divider-w pt-20"><!-- divider -->

        <div class="row">
            <div class="col-sm-12">

                <table class="table table-striped table-border checkout-table">
                    <tbody>
                        <tr>
                            <th class="hidden-xs">商品</th>
                            <th>商品名稱</th>
                            <th class="hidden-xs">單價</th>
                            <th>數量</th>
                            <th>小計</th>

                        </tr>

                        @if (Model.l_TB_ORDER_DETAIL != null)
                        {
                            foreach (var item in Model.l_TB_ORDER_DETAIL)
                            {
                                <tr>
                                    <td class="hidden-xs">
                                        <a href="@Url.Action("ProductDetail","Product",new { p_RRODUCT_GUID =item.PRODUCT_GUID})"><img src="../@item.l_TB_PRODUCT.PIC1.Substring(item.l_TB_PRODUCT.PIC1.IndexOf("UPLOADFILES"))" alt=""></a>
                                    </td>
                                    <td>
                                        <h5 class="product-title font-alt">@item.l_TB_PRODUCT.NAME</h5>
                                    </td>
                                    <td class="hidden-xs">
                                        <h5 class="product-title font-alt">NT$ @item.PRICE</h5>
                                    </td>
                                    <td class="hidden-xs">
                                        <h5 class="product-title font-alt">@item.UNIT</h5>
                                    </td>
                                    <td>
                                        <h5 class="product-title font-alt">NT$ @(item.PRICE * item.UNIT)</h5>
                                    </td>

                                </tr>
                            }

                        }


                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">

            <div class="col-sm-12 mb-sm-40">
                <form class="form" action="@Url.Action("CheckoutDetail")" method="post">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.Display("NAME_DISPLAY", "姓名")
                        @Html.TextBox("NAME", TVMLib.Utility.UserData.NAME, new { @Placeholder = "請輸入名稱", @class = "form-control", @disabled = "disabled" })

                    </div>
                    <div class="form-group">
                        @Html.Display("TEL_DISPLAY", "電話")
                        @Html.TextBox("TEL", TVMLib.Utility.UserData.TEL, new { @Placeholder = "請輸入電話", @class = "form-control", @disabled = "disabled" })
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        @Html.Display("EMAIL_DISPLAY", "E-Mail")
                        @Html.TextBox("EMAIL", TVMLib.Utility.UserData.EMAIL, new { @Placeholder = "請輸入E-Mail", @class = "form-control", @disabled = "disabled" })

                    </div>
                    <div id="twzipcode">
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.CITY)
                            @Html.HiddenFor(m => m.CITY)
                            <div data-role="county"></div>
                         
                        </div>


                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.AREA)
                            @Html.HiddenFor(m => m.AREA)
                            <div data-role="district"></div>
                        
                        </div>


                        <div class="field" style="display:none">
                            @Html.DisplayNameFor(m => m.ZIPCODE)
                            @Html.HiddenFor(m => m.ZIPCODE)
                            <div data-role="zipcode"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.DisplayNameFor(m => m.ADDRESS)
                        @Html.TextBoxFor(m => m.ADDRESS, new { @Placeholder = "請輸入收貨地址", @class = "form-control", @Value = TVMLib.Utility.UserData.ADDRESS })
                
                    </div>


                    @Scripts.Render("~/bundles/jqueryval")
                    @Scripts.Render("~/bundles/twzipcode")
                    <script>
                        $(function () {
                               var l_ZIP =  @TVMLib.Utility.UserData.ZIP;
                            $('#twzipcode').twzipcode({
                                'zipcodeSel': l_ZIP,
                                'zipcodeIntoDistrict': true,
                                'onCountySelect': (function () { changeCityAreaVal($("#twzipcode"), $("#CITY"), $("#AREA"), $("#ZIPCODE")); }),
                                'onDistrictSelect': (function () { changeCityAreaVal($("#twzipcode"), $("#CITY"), $("#AREA"), $("#ZIPCODE")); }),
                                'css': ["form-control", "form-control"],
                            });

                            $("#ZIPCODE").val(l_ZIP)
                            $("#zipcode").val(l_ZIP)
                        })

                        function changeCityAreaVal(p_twzipOjb, p_cityObj, p_areaObj, p_zipObj) {
                            if (!p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[0]) {
                                p_cityObj.val("");
                                p_areaObj.val("");
                                p_zipObj.val("");
                            } else {
                                p_cityObj.val(p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[0]);
                                p_areaObj.val(p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[1]);
                                p_zipObj.val(p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[2]);
                            };
                        };
                    </script>

                    <div class="col-sm-6">
                        <div class="form-group text-center">
                            <a href="@Url.Action("Index","Index")" class="btn btn-block btn-round btn-d pull-right">繼續購物</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-block btn-round btn-d pull-right">確認結帳</button>
                        </div>
                    </div>
                </form>

            </div>




        </div><!-- .row -->
        <!-- Divider -->
        <hr class="divider-w">
        <!-- Divider -->
        @*<div class="row mt-70">
                <div class="col-sm-5 col-sm-offset-7">

                    <div class="shop-Cart-totalbox">
                        <h4 class="font-alt">Cart Totals</h4>

                        <table class="table table-striped table-border checkout-table">
                            <tbody>
                                <tr>
                                    <th>Cart Subtotal :</th>
                                    <td>$4000</td>
                                </tr>
                                <tr>
                                    <th>Shipping Total :</th>
                                    <td>$200</td>
                                </tr>
                                <tr class="shop-Cart-totalprice">
                                    <th>Total :</th>
                                    <td>$4200</td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="submit" class="btn btn-lg btn-block btn-round btn-d">繼續購物</button>
                    </div>

                </div>
            </div>*@
        <!-- .row -->

    </div>
</section>

@*<style>
        .footer {
            box-sizing: border-box;
            /* 設定footer絕對位置在底部 */
            position: absolute;
            bottom: 0;
            /* 展開footer寬度 */
            width: 100%;
        }
    </style>*@