﻿@model TVMLib.dl.Order.OrderAndDetailVM
@{
    ViewBag.Title = "結帳清單";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<section class="module">
    <div class="container">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h1 class="module-title font-alt">購物車內容 | 總計：@Model.l_TB_ORDER_DETAIL.Sum(m=>m.SUB_TOTAL)</h1>
            </div>
        </div>

        <hr class="divider-w pt-20"><!-- divider -->

        <div class="row">
            <div class="col-sm-12">

                <table class="table table-striped table-border checkout-table">
                    <tbody>
                        <tr>
                            <th class="hidden-xs">商品</th>
                            <th>商品名稱</th>
                            <th class="hidden-xs">單價</th>
                            <th>數量</th>
                            <th>小計</th>
                            <th>操作</th>
                        </tr>

                        @if (Model.l_TB_ORDER_DETAIL != null)
                        {
                            foreach (var item in Model.l_TB_ORDER_DETAIL)
                            {
                                <tr>
                                    <td class="hidden-xs">
                                        <a href="@Url.Action("ProductDetail","Product",new { p_RRODUCT_GUID =item.PRODUCT_GUID})"><img src="../@item.l_TB_PRODUCT.PIC1.Substring(item.l_TB_PRODUCT.PIC1.IndexOf("UPLOADFILES"))" alt=""></a>
                                    </td>
                                    <td>
                                        <h5 class="product-title font-alt">@item.l_TB_PRODUCT.NAME</h5>
                                    </td>
                                    <td class="hidden-xs">
                                        <h5 class="product-title font-alt">NT$ @item.PRICE</h5>
                                    </td>
                                    <td class="hidden-xs">
                                        <h5 class="product-title font-alt">@item.UNIT</h5>
                                    </td>
                                    <td>
                                        <h5 class="product-title font-alt">NT$ @(item.PRICE * item.UNIT)</h5>
                                    </td>
                                    <td class="pr-remove">
                                        <a href="@Url.Action("RemoveShopItem","Product",new{ p_PRODUCT_GUID=item.PRODUCT_GUID})" title="Remove"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            }

                        }


                    </tbody>
                </table>

            </div>
        </div>

        <div class="row">
            @*<div class="col-sm-3">
                    <div class="form-group">
                        <input type="text" id="" name="" class="form-control" placeholder="請輸入優惠券序號">
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-round btn-g">確認優惠券序號</button>
                    </div>
                </div>*@
            @if (Model.l_TB_ORDER_DETAIL.Count > 0)
            {

                <div class="col-sm-6">
                    <div class="form-group text-center">
                        <a href="@Url.Action("Index","Index")" class="btn btn-block btn-round btn-d pull-right">繼續購物</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group text-center">
                        <a href="@Url.Action("CheckoutDetail","Product")" class="btn btn-block btn-round btn-d pull-right">下一步，填寫地址資訊</a>
                    </div>
                </div>
            }
            else
            {
                <div class="col-sm-12">
                    <div class="form-group text-center">
                        <a href="@Url.Action("Index","Index")" class="btn btn-block btn-round btn-d pull-right">繼續購物</a>
                    </div>
                </div>
            }


        </div><!-- .row -->
        <!-- Divider -->
        <hr class="divider-w">
        <!-- Divider -->
        @*<div class="row mt-70">
                <div class="col-sm-5 col-sm-offset-7">

                    <div class="shop-Cart-totalbox">
                        <h4 class="font-alt">Cart Totals</h4>

                        <table class="table table-striped table-border checkout-table">
                            <tbody>
                                <tr>
                                    <th>Cart Subtotal :</th>
                                    <td>$4000</td>
                                </tr>
                                <tr>
                                    <th>Shipping Total :</th>
                                    <td>$200</td>
                                </tr>
                                <tr class="shop-Cart-totalprice">
                                    <th>Total :</th>
                                    <td>$4200</td>
                                </tr>
                            </tbody>
                        </table>

                        <button type="submit" class="btn btn-lg btn-block btn-round btn-d">繼續購物</button>
                    </div>

                </div>
            </div>*@
        <!-- .row -->

    </div>
</section>
<style>
    .footer {
        box-sizing: border-box;
        /* 設定footer絕對位置在底部 */
        position: absolute;
        bottom: 0;
        /* 展開footer寬度 */
        width: 100%;
    }
</style>