﻿@model TVMLib.dl.Product.InquiryVM
@{
    /**/

    ViewBag.Title = "商品詢價";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<section class="module">
    <div class="container">

        <div class="row">

            <!-- Product images start -->
            <div class="col-sm-6 mb-sm-40">
                @if (Model.l_ProductImageVM.Count > 0)
                {
                    <a href="../@Model.l_ProductImageVM[0].URL.Substring(Model.l_ProductImageVM[0].URL.IndexOf("UPLOADFILES"))" class="gallery">
                        <img src="../@Model.l_ProductImageVM[0].URL.Substring(Model.l_ProductImageVM[0].URL.IndexOf("UPLOADFILES"))" alt="">
                    </a>
                    <ul class="product-gallery  text-center">

                        @for (int i = 1; i < Model.l_ProductImageVM.Count; i++)
                        {
                            <li>
                                <a href="../@Model.l_ProductImageVM[i].URL.Substring(Model.l_ProductImageVM[i].URL.IndexOf("UPLOADFILES"))" class="gallery">
                                    <img src="../@Model.l_ProductImageVM[i].URL.Substring(Model.l_ProductImageVM[i].URL.IndexOf("UPLOADFILES"))" alt="">
                                </a>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <a href="~/assets/images/product1.jpg" class="gallery">
                        <img src="~/assets/images/product1.jpg" alt="">
                    </a>
                }

            </div>
            <!-- Product images end -->
            <!-- Product detail start -->
            <div class="col-sm-6">

                <div class="row">
                    <div class="col-sm-12">
                        <h1 class="product-title font-alt">商品詢價 - @Html.DisplayTextFor(m => m.l_TB_PRODUCT.NAME) </h1>
                    </div>
                </div>

                @using (Html.BeginForm("Inquiry", "Product", FormMethod.Post, new { @class = "user-form" }))
                {

                    @Html.AntiForgeryToken()
                    @Html.Hidden("PRODUCT_GUID", Model.l_TB_PRODUCT.PRODUCT_GUID)
                    <!-- Username -->
                    <div class="form-group">
                        姓名：
                        @Html.TextBoxFor(m => m.NAME, new { @Placeholder = "請輸入姓名", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NAME, "", new { @class = "text-danger" })
                    </div>

                    <!-- Username -->
                    <div class="form-group">
                        電話：
                        @Html.TextBoxFor(m => m.TEL, new { @Placeholder = "請輸入連絡電話", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.TEL, "", new { @class = "text-danger" })
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        EMAIL：
                        @Html.TextBoxFor(m => m.EMAIL, new { @Placeholder = "請輸入電子信箱", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "text-danger" })
                    </div>


                    <!-- Re-enter Password -->
                    <div class="form-group">
                        請輸入詢價內容：
                        @Html.TextAreaFor(m => m.MAIN, new
                   {
                       @Placeholder = "請輸入內容...",
                       @class = "form-control",
                       @rows = 3,
                   })
                        @Html.ValidationMessageFor(m => m.MAIN, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-round btn-b">送出</button>
                    </div>
                    @Scripts.Render("~/bundles/jqueryval")
                }

            </div>
            <!-- Product detail end -->

        </div><!-- .row -->




    </div>
</section>

