﻿@model List<TVMLib.dl.TB_PRODUCT>
@{
    ViewBag.Title = "熱銷產品";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}



<!-- Header section start -->
<section class="module bg-dark bg-dark-60" data-background="../../assets/images/product2.jpg">
    <div class="container">

        <div class="row">

            <div class="col-sm-6 col-sm-offset-3">

                <h1 class="module-title font-alt">@ViewBag.Product<span>產品</span></h1>
                @*<div class="module-subtitle font-serif mb-0">
                        這裡可以放一些商品敘述
                    </div>*@

            </div>

        </div><!-- .row -->

    </div>
</section>
<!-- Header section end -->
<!-- Filter section start -->
@*<section class="module-small">
        <div class="container">

            <form class="row">

                <div class="col-sm-4 mb-sm-20">
                    <select class="form-control">
                        <option selected="selected">所有大分類</option>
                        <option>大分類1</option>
                        <option>大分類2</option>
                        <option>大分類3</option>
                        <option>大分類4</option>
                        <option>大分類5</option>
                    </select>
                </div>

                <div class="col-sm-2 mb-sm-20">
                    <select class="form-control">
                        <option selected="selected">所有中分類</option>
                        <option>中分類1</option>
                        <option>中分類2</option>
                        <option>中分類3</option>
                        <option>中分類4</option>
                        <option>中分類5</option>
                    </select>
                </div>

                <div class="col-sm-3 mb-sm-20">
                    <select class="form-control">
                        <option selected="selected">所有小分類</option>
                        <option>小分類1</option>
                        <option>小分類2</option>
                        <option>小分類3</option>
                        <option>小分類4</option>
                        <option>小分類5</option>
                    </select>
                </div>

                <div class="col-sm-3">
                    <button type="submit" class="btn btn-block btn-round btn-g">篩選分類</button>
                </div>

            </form>
        </div>
    </section>*@
<!-- Filter section end -->

<hr class="divider-w"><!-- divider -->
<!-- Grid start -->
<section class="module-small">
    <div class="container">

        <div class="row multi-columns-row">

            @foreach (var item in Model)
            {
                <!-- Shop item start -->
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="shop-item">
                        <div class="shop-item-image">
                            <img src="../@item.PIC1.Substring(item.PIC1.IndexOf("UPLOADFILES"))" alt="">
                            <div class="shop-item-detail">
                                <a href="@Url.Action("ProductDetail","Product",new {p_RRODUCT_GUID=item.PRODUCT_GUID })" class="btn btn-round btn-b"><span class="icon-basket"></span> 觀看商品</a>
                            </div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="#">@item.NAME</a></h4>
                        NT$ @item.PRICE
                    </div>
                </div>
                <!-- Shop item end -->
            }

        </div><!-- .row -->
        @*<div class="row">
                <div class="col-sm-12 text-center">
                    <div class="pagination font-alt mt-30">
                        <a href="#"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="active">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <a href="#"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>*@
        <!-- .row -->

    </div><!-- .container -->
</section>
<!-- Grid end -->


@if (Model != null)
{
    if (Model.Count <= 0)
    {
        <style>
            .footer {
                box-sizing: border-box;
                /* 設定footer絕對位置在底部 */
                position: absolute;
                bottom: 0;
                /* 展開footer寬度 */
                width: 100%;
            }
        </style>
    }
}