﻿@model TVMLib.dl.Index.IndexVM
@{
    ViewBag.Title = "首頁";
    Layout = "~/Views/Shared/_IndexLayout.cshtml";

}


<!-- Preloader -->
<div class="page-loader">
    <div class="loader">Loading...</div>
</div>

<!-- Navigation start -->
<nav class="navbar navbar-custom navbar-transparent navbar-fixed-top" role="navigation">

    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a style="width:110px;padding:10px 15px !important" class="navbar-brand" href="@Url.Action("Index","Index")"><img src="~/images/雄大科技logo1.png" border="0"></a>
            @*<a class="navbar-brand" href="index.html">KUST</a>*@
        </div>

        <div class="collapse navbar-collapse" id="custom-collapse">

            <ul class="nav navbar-nav navbar-right">

                <li><a href="@Url.Action("Aboutus","Aboutus")" class="section-scroll">公司介紹</a></li>
                <li><a href="@Url.Action("News","News")" class="section-scroll">最新消息</a></li>
                @*<li><a href="@Url.Action("Hot","Product")" class="section-scroll">熱銷產品</a></li>*@

                <li class="dropdown">
                    <a href="@Url.Action("Product","Product",new { p_Type="ALL"})" class="dropdown-toggle section-scroll" data-toggle="dropdown">所有產品</a>
                    <ul class="dropdown-menu">

                        @if (ViewBag.PRODUCT_MENU != null)
                        {
                            foreach (var item in ViewBag.PRODUCT_MENU as List<TVMLib.dl.Index.MenuProductCategoryVM>)
                            {
                                <li class="dropdown">
                                    <a href="@Url.Action("Product","Product",new {p_Type=item.NAME, p_CATEGORY=item.CATEGORY_GUID})" class="dropdown-toggle" data-toggle="dropdown"> @item.NAME </a>
                                    <ul class="dropdown-menu">
                                        @if (item.l_MenuProductVM != null)
                                        {
                                            foreach (var detail in item.l_MenuProductVM)
                                            {
                                                <li><a href="@detail.URL">@detail.NAME</a></li>
                                            }
                                        }

                                    </ul>
                                </li>
                            }
                        }
                    </ul>
                </li>


                <li><a href="@Url.Action("Profile","Profile")" class="section-scroll">技術規格</a></li>

                <li><a href="@Url.Action("QA","QA")">Q & A</a></li>

                <li><a href="#contact" class="section-scroll">連絡我們</a></li>

                @if (!String.IsNullOrEmpty(TVMLib.Utility.UserData.USER_GUID))
                {
                    <li><a href="#">您好，@TVMLib.Utility.UserData.NAME</a></li>
                }
                else
                {
                    <li><a href="@Url.Action("Login","Member")">會員登入/註冊</a></li>
                }

                @*<li><a>&nbsp;</a></li>*@

                <!-- CART -->
                <li class="dropdown navbar-cart">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="icon-basket"></span>
                        <span class="cart-item-number">
                            @if (ViewBag.ORDER != null)
                            {
                            <span> @((ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL.Count)</span>
                            }
                            else
                            {
                                <span>0</span>
                            }

                        </span>
                    </a>
                    <ul class="dropdown-menu cart-list" role="menu">

                        @if (ViewBag.ORDER != null)
                        {
                            if ((ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL.Count > 0)
                            {
                                foreach (var item in (ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL)
                                {
                                    <li>
                                        <div class="navbar-cart-item clearfix">
                                            <div class="navbar-cart-img">
                                                <a href="#"><img src="../@item.l_TB_PRODUCT.PIC1.Substring(item.l_TB_PRODUCT.PIC1.IndexOf("UPLOADFILES"))" alt=""></a>
                                            </div>
                                            <div class="navbar-cart-title">
                                                <a href="#">@item.l_TB_PRODUCT.NAME</a>
                                                <span class="cart-amount">NT$ @item.PRICE &nbsp; x &nbsp; @item.UNIT </span><br>
                                                <strong class="cart-amount">NT$ @(item.SUB_TOTAL)</strong>
                                            </div>
                                        </div>
                                    </li>
                                }


                                <li>
                                    <!-- navbar-cart-item -->
                                    <div class="clearfix">
                                        <div class="cart-sub-totle">
                                            <strong>訂單金額小計 : NT$ @((ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL.Sum(m => m.SUB_TOTAL))</strong>
                                        </div>
                                    </div>
                                </li>

                            }

                        }

                        @if (ViewBag.ORDER != null)
                        {
                            <li>
                                <div class="clearfix">
                                    <a href="@Url.Action("Checkout","Product")" class="btn btn-block btn-round btn-font-w">結帳</a>
                                </div>
                            </li>
                        }
                       




                    </ul>
                </li>
                <!-- /CART -->

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">全站搜尋</a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <div class="dropdown-search">
                                <form role="form">
                                    <input type="text" class="form-control" placeholder="請輸入商品關鍵字...">
                                    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </li>
                    </ul>
                </li>

                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">English</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">English</a></li>
                            <li><a href="#">France</a></li>
                            <li><a href="#">Germany</a></li>
                        </ul>
                    </li>*@

            </ul>
        </div>

    </div>

</nav>
<!-- Navigation end -->
<!-- Home start -->
<section id="home" class="home-section home-parallax home-fade home-full-height">

    <div class="hero-slider">
        <ul class="slides">

            <li class="bg-dark-30 bg-dark" style="background-image:url(../../assets/images/slide1.jpg)">
                <div class="hs-caption">
                    <div class="caption-content">
                        <div class="hs-title-size-1 font-alt mb-30">
                            This is KUST Innovative - 雄大科技
                        </div>
                        <div class="hs-title-size-4 font-alt mb-30">
                            智慧科技<br />X<br />海洋生物養殖技術<br />
                        </div>

                        <a href="#news" class="section-scroll btn btn-border-w btn-round">點我看更多消息</a>
                    </div>
                </div>
            </li>

            <li class="bg-dark-30 bg-dark" style="background-image:url(../../assets/images/slide2.jpg)">
                <div class="hs-caption">
                    <div class="caption-content">
                        <div class="hs-title-size-1 font-alt mb-30">
                            This is KUST Innovative - 雄大科技
                        </div>
                        <div class="hs-title-size-4 font-alt mb-40">
                            智慧科技<br />X<br />海洋生物養殖技術<br />
                        </div>
                        <a href="#news" class="section-scroll btn btn-border-w btn-round">點我看更多消息</a>
                    </div>
                </div>
            </li>

        </ul>
    </div>

</section>
<!-- Home end -->
<!-- Wrapper start -->
<div class="main">



    <section class="module">
        <div class="container">

            <div class="row multi-columns-row" id="news">

                @foreach (var item in Model.l_TB_NEWS)
                {
                    <!-- Features start -->
                    <div class="col-sm-6 col-md-3 col-lg-3">
                        <div class="features-item">
                            <div class="features-icon">
                                <span class="icon-lightbulb"></span>
                            </div>
                            <h3 class="features-title font-alt">@item.TITLE - (@(item.CREATE_TIME?.ToString("yyyy/MM/dd"))) </h3>
                            @StripHTML.getStripHTMLInList(item.MAIN)
                            <br />
                            <br />
                            <div class="clearfix">
                                <a href="@Url.Action("Detail","News")" class="btn btn-block btn-round btn-d">觀看明細</a>
                            </div>
                        </div>
                    </div>
                    <!-- Features end -->
                }

            </div><!-- .row -->
        </div><!-- .container -->
    </section>


    <!-- Divider -->
    <hr class="divider-w">
    <!-- Divider -->


    @if (Model.l_TB_PRODUCT_CATEGORY.Count > 0)
    {
        <!-- Latest blog posts start -->
        <section class="module">
            <div class="container">

                <div class="row">

                    <div class="col-sm-6 col-sm-offset-3">

                        <h2 class="module-title font-alt" id="products">所有產品分類</h2>


                    </div>

                </div><!-- .row -->

                <div class="row multi-columns-row post-columns">

                    @foreach (var item in Model.l_TB_PRODUCT_CATEGORY)
                    {

                        <!-- Post item start -->
                        <div class="col-sm-6 col-md-4 col-lg-4">

                            <div class="post mb-20">
                                <div class="post-thumbnail text-center">
                                    <a href="@Url.Action("Product","Product",new { p_TYPE=item.NAME,p_CATEGORY=item.CATEGORY_GUID})"><img src="../@item.PIC_PATH.Substring(item.PIC_PATH.IndexOf("UPLOADFILES"))" alt=""></a>
                                </div>

                                <div class="post-entry">
                                    <p>@item.NOTE</p>
                                </div>
                                <div class="post-more text-center">
                                    <a href="@Url.Action("Product","Product",new { p_TYPE=item.NAME,p_CATEGORY=item.CATEGORY_GUID})" class="more-link">觀看 @item.NAME 產品</a>
                                </div>
                            </div>

                        </div>
                        <!-- Post item end -->
                        <!-- Post item end -->
                    }



                </div><!-- .row -->

            </div>
        </section>
        <!-- Latest blog posts end -->
    }

    <!-- Divider -->
    <hr class="divider-w">
    <!-- Divider -->
    <!-- Portfolio start -->
    <section id="works" class="module pb-0">
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h2 class="module-title font-alt">我們的熱銷產品</h2>

                </div>

            </div><!-- .row -->

            <div class="row">

                <div class="col-sm-12">

                    <ul id="filters" class="filter font-alt hidden-xs">
                        <li><a href="#" data-filter="*" class="current wow fadeInUp">全部</a></li>
                        <li><a href="#" data-filter=".illustration" class="wow fadeInUp" data-wow-delay="0.2s">監測</a></li>
                        <li><a href="#" data-filter=".marketing" class="wow fadeInUp" data-wow-delay="0.4s">維生</a></li>
                        <li><a href="#" data-filter=".photography" class="wow fadeInUp" data-wow-delay="0.6s">客製化</a></li>
                    </ul>

                </div>

            </div><!-- .row -->

        </div><!-- .container -->
        <!-- Portfolio list start -->
        <ul id="works-grid" class="works-grid works-grid-gut works-grid-3 works-hover-w">

            <!-- Portfolio item start -->
            <li class="work-item illustration webdesign">
                <a href="@Url.Action("ProductDetail","Product")">
                    <div class="work-image">
                        <img src="~/assets/images/product1.jpg" alt="">
                    </div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">監測的產品1</h3>
                        <div class="work-descr">
                            監測的產品1簡易說明(說明的前幾個字)
                        </div>
                    </div>
                </a>
            </li>
            <!-- Portfolio item end -->
            <!-- Portfolio item start -->
            <li class="work-item marketing photography">
                <a href="@Url.Action("ProductDetail","Product")">
                    <div class="work-image">
                        <img src="~/assets/images/product22.jpg" alt="">
                    </div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">維生的產品1</h3>
                        <div class="work-descr">
                            維生的產品1簡易說明(說明的前幾個字)
                        </div>
                    </div>
                </a>
            </li>
            <!-- Portfolio item end -->
            <!-- Portfolio item start -->
            <li class="work-item illustration photography">
                <a href="@Url.Action("ProductDetail","Product")">
                    <div class="work-image">
                        <img src="~/assets/images/product33.jpg" alt="">
                    </div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">客製化的產品1</h3>
                        <div class="work-descr">
                            客製化的產品1簡易說明(說明的前幾個字)
                        </div>
                    </div>
                </a>
            </li>
            <!-- Portfolio item end -->
            <!-- Portfolio item start -->
            <li class="work-item marketing photography">
                <a href="@Url.Action("ProductDetail","Product")">
                    <div class="work-image">
                        <img src="~/assets/images/product1.jpg" alt="">
                    </div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">監測的產品2</h3>
                        <div class="work-descr">
                            監測的產品2簡易說明(說明的前幾個字)
                        </div>
                    </div>
                </a>
            </li>
            <!-- Portfolio item end -->
            <!-- Portfolio item start -->
            <li class="work-item illustration webdesign">
                <a href="@Url.Action("ProductDetail","Product")">
                    <div class="work-image">
                        <img src="~/assets/images/product22.jpg" alt="">
                    </div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">維生的產品2</h3>
                        <div class="work-descr">
                            維生的產品2簡易說明(說明的前幾個字)
                        </div>
                    </div>
                </a>
            </li>
            <!-- Portfolio item end -->
            <!-- Portfolio item start -->
            <li class="work-item marketing webdesign">
                <a href="@Url.Action("ProductDetail","Product")">
                    <div class="work-image">
                        <img src="~/assets/images/product33.jpg" alt="">
                    </div>
                    <div class="work-caption font-alt">
                        <h3 class="work-title">客製化的產品2</h3>
                        <div class="work-descr">
                            客製化的產品2簡易說明(說明的前幾個字)
                        </div>
                    </div>
                </a>
            </li>
            <!-- Portfolio item end -->

        </ul>
        <!-- Portfolio list end -->

    </section>
    <!-- Portfolio end -->
    <!-- Video start -->
    <!-- Callout start -->
    <!-- Divider -->
    <hr class="divider-w">
    <!-- Divider -->
    <!-- Callout end -->
    <!-- Video end -->
    <!-- Exclusive products start -->
    <section class="module">
        <div class="container">

            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">最受好評的商品</h2>
                    <div class="module-subtitle font-serif">
                        以下為最受好評的產品(文字可更換)
                    </div>
                </div>
            </div><!-- .row -->

            <div class="row">

                <!-- Owl-carousel start -->
                <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">

                    <!-- ex-product start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#">
                                    <img src="../../assets/images/product1.jpg" alt="">
                                </a>
                                <h4 class="shop-item-title font-alt"><a href="#">好評商品1</a></h4>
                                NT$ 120
                            </div>
                        </div>
                    </div>
                    <!-- ex-product end -->
                    <!-- ex-product start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#">
                                    <img src="../../assets/images/product22.jpg" alt="">
                                </a>
                                <h4 class="shop-item-title font-alt"><a href="#">好評商品2</a></h4>
                                NT$ 540
                            </div>
                        </div>
                    </div>
                    <!-- ex-product end -->
                    <!-- ex-product start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#">
                                    <img src="../../assets/images/product33.jpg" alt="">
                                </a>
                                <h4 class="shop-item-title font-alt"><a href="#">好評商品3</a></h4>
                                NT$ 190
                            </div>
                        </div>
                    </div>
                    <!-- ex-product end -->
                    <!-- ex-product start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#">
                                    <img src="../../assets/images/product44.jpg" alt="">
                                </a>
                                <h4 class="shop-item-title font-alt"><a href="#">好評商品4</a></h4>
                                NT$ 140
                            </div>
                        </div>
                    </div>
                    <!-- ex-product end -->
                    <!-- ex-product start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#">
                                    <img src="../../assets/images/product1.jpg" alt="">
                                </a>
                                <h4 class="shop-item-title font-alt"><a href="#">好評商品5</a></h4>
                                NT$ 440
                            </div>
                        </div>
                    </div>
                    <!-- ex-product end -->
                    <!-- ex-product start -->
                    <div class="owl-item">
                        <div class="col-sm-12">
                            <div class="ex-product">
                                <a href="#">
                                    <img src="../../assets/images/product22.jpg" alt="">
                                </a>
                                <h4 class="shop-item-title font-alt"><a href="#">好評商品6</a></h4>
                                NT$ 190
                            </div>
                        </div>
                    </div>
                    <!-- ex-product end -->

                </div>
                <!-- Owl-carousel end -->

            </div>

        </div>
    </section>
    <!-- Exclusive products end -->
    <!-- Callout start -->
    <!-- Divider -->
    <hr class="divider-w">
    <!-- Divider -->
    <!-- Callout end -->
    <!-- Contact start -->
    <section id="contact" class="module">
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h2 class="module-title font-alt">聯絡我們</h2>

                </div>

            </div><!-- .row -->

            <style>
                .text-danger {
                    color: red !important;
                }
            </style>

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div class="form-group">
                            <label class="sr-only" for="cname">@Html.DisplayNameFor(m => m.CNAME)</label>
                            @Html.TextBoxFor(m => m.CNAME, new { @Placeholder = "請輸入您的姓名", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CNAME, "", new { @class = "help-block text-danger" })
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="cname">@Html.DisplayNameFor(m => m.CEMAIL)</label>
                            @Html.TextBoxFor(m => m.CEMAIL, new { @Placeholder = "請輸入您的電子信箱", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.CEMAIL, "", new { @class = "help-block text-danger" })
                        </div>

                        <div class="form-group">

                            @Html.TextAreaFor(m => m.CMAIN, new { @Placeholder = "請輸入您的聯絡內容", @class = "form-control", @rows = "7" })
                            @Html.ValidationMessageFor(m => m.CMAIN, "", new { @class = "help-block text-danger" })

                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-block btn-round btn-d">送出</button>
                        </div>
                        @Scripts.Render("~/bundles/jqueryval")
                    </form>

                    <!-- Ajax response -->
                    <div id="contact-response" class="ajax-response font-alt"></div>

                </div>

            </div><!-- .row -->

        </div>
    </section>
    <!-- Contact end -->
    <!-- Map start -->
    <section id="map-section">
        <div id="map"></div>
    </section>
    <!-- Map end -->
    <!-- Divider -->
    <hr class="divider-w">
    <!-- Divider -->
    <!-- Widgets start -->
    @*<div class="module-small bg-dark">
            <div class="container">

                <div class="row">

                    <div class="col-sm-3">

                        <!-- Widget start -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">About Rival</h5>
                            <p>The languages only differ in their grammar, their pronunciation and their most common words.</p>
                            <p>Phone: +1 234 567 89 10<br>Fax: +1 234 567 89 10</p>
                            <p>Email: <a href="#">somecompany@example.com</a></p>
                        </div>
                        <!-- Widget end -->

                    </div>

                    <div class="col-sm-3">

                        <!-- Widget start -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Recent Comments</h5>
                            <ul class="icon-list">
                                <li>Maria on <a href="#">Designer Desk Essentials</a></li>
                                <li>John on <a href="#">Realistic Business Card Mockup</a></li>
                                <li>Andy on <a href="#">Eco bag Mockup</a></li>
                                <li>Jack on <a href="#">Bottle Mockup</a></li>
                                <li>Mark on <a href="#">Our trip to the Alps</a></li>
                            </ul>
                        </div>
                        <!-- Widget end -->

                    </div>

                    <div class="col-sm-3">

                        <!-- Widget start -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Categories</h5>
                            <ul class="icon-list">
                                <li><a href="#">Photography - 7</a></li>
                                <li><a href="#">Web Design - 3</a></li>
                                <li><a href="#">Illustration - 12</a></li>
                                <li><a href="#">Marketing - 1</a></li>
                                <li><a href="#">WordPress - 16</a></li>
                            </ul>
                        </div>
                        <!-- Widget end -->

                    </div>

                    <div class="col-sm-3">

                        <!-- Widget start -->
                        <div class="widget">
                            <h5 class="widget-title font-alt">Popular posts</h5>
                            <ul class="widget-posts">

                                <li class="clearfix">
                                    <div class="widget-posts-image">
                                        <a href="#"><img src="../../assets/images/rp-1.jpg" alt=""></a>
                                    </div>
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title">
                                            <a href="#">Designer Desk Essentials</a>
                                        </div>
                                        <div class="widget-posts-meta">
                                            23 November
                                        </div>
                                    </div>
                                </li>

                                <li class="clearfix">
                                    <div class="widget-posts-image">
                                        <a href="#"><img src="../../assets/images/rp-2.jpg" alt=""></a>
                                    </div>
                                    <div class="widget-posts-body">
                                        <div class="widget-posts-title">
                                            <a href="#">Realistic Business Card Mockup</a>
                                        </div>
                                        <div class="widget-posts-meta">
                                            15 November
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <!-- Widget end -->

                    </div>

                </div><!-- .row -->

            </div>
        </div>*@
    <!-- Widgets end -->
    <!-- Footer start -->
    <footer class="footer bg-dark">
        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <p style="margin-top:10px" class="copyright font-alt">© @System.DateTime.Now.Year <a href="index.html">KUST Innovative 雄大科技</a>, All Rights Reserved.</p>
                </div>

                <div class="col-sm-6">
                    <div class="footer-social-links" style="font-size:20px !important">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                    </div>
                </div>

            </div><!-- .row -->

        </div>
    </footer>
    <!-- Footer end -->

</div>
<!-- Wrapper start -->
<!-- Scroll-up -->
<div class="scroll-up">
    <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
</div>