﻿@model TVMLib.dl.Login.ForgetVM
@{
    ViewBag.Title = "忘記密碼";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<!-- Wrapper start -->
<div class="main">
    <!-- Header section start -->
    <section class="module-small bg-dark bg-dark-60" data-background="../../assets/images/QA.jpg">
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt">KUST 會員系統 - 忘記密碼</h1>

                </div>

            </div><!-- .row -->

        </div>
    </section>

    <!-- Header section end -->
    <!-- Login/Registr start -->
    <section class="module-small" style="padding-top:60px;padding-bottom:80px !important">
        <div class="container">

            <div class="row">

                <div class="col-sm-12 mb-sm-40">
                    <form class="form" method="post" action="@Url.Action("Forget")">
                        @Html.AntiForgeryToken()
                        <!-- Username -->
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.EMAIL)
                            @Html.TextBoxFor(m => m.EMAIL, new { @Placeholder = "請輸入帳號", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "error-tip" })
                        </div>

                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-round btn-b">重新發送密碼</button>
                        </div>


                        @Scripts.Render("~/bundles/jqueryval")
                    </form>
                </div>

            </div><!-- .row -->

        </div>
    </section>
    <!-- Login/Registr end -->
</div>

<style>
    .footer {
        box-sizing: border-box;
        /* 設定footer絕對位置在底部 */
        position: absolute;
        bottom: 0;
        /* 展開footer寬度 */
        width: 100%;
    }
</style>