﻿@model TVMLib.dl.Login.LoginVM
@{
    ViewBag.Title = "會員登入";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<!-- Wrapper start -->
<div class="main">
    <!-- Header section start -->
    <section class="module-small bg-dark bg-dark-60" data-background="../../assets/images/QA.jpg">
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt">KUST 會員系統 - 登入作業</h1>

                </div>

            </div><!-- .row -->

        </div>
    </section>

    <!-- Header section end -->
    <!-- Login/Registr start -->
    <section class="module-small" style="padding-bottom:100px !important">
        <div class="container">

            <div class="row">

                <div class="col-sm-12 mb-sm-40">



                    <form class="form" method="post" action="@Url.Action("Login")">
                        @Html.AntiForgeryToken()
                        @if (ViewBag.PRODUCT_GUID != "")
                        {
                            @Html.Hidden("p_PRODUCT_GUID", ViewBag.PRODUCT_GUID as string)
                        }

                        <!-- Username -->
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.ACCOUNT)
                            @Html.TextBoxFor(m => m.ACCOUNT, new { @Placeholder = "請輸入帳號", @class = "form-control" })
                        </div>
                        <!-- Password -->
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.PASSWORD)
                            @Html.TextBoxFor(m => m.PASSWORD, new { @type = "password", @Placeholder = "請輸入帳號", @class = "form-control" })
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn btn-round btn-b">登入</button>
                            &nbsp;
                            <a href="@Url.Action("Register")" class="btn btn-round btn-b">會員註冊</a>
                        </div>
                        <div class="form-group text-center">
                            <a href="@Url.Action("Forget")">忘記密碼請點我</a>
                        </div>

                        @Scripts.Render("~/bundles/jqueryval")
                    </form>
                </div>

            </div><!-- .row -->

        </div>
    </section>
    <!-- Login/Registr end -->
</div>