﻿@model TVMLib.dl.Login.RegisteredVM
@{
    ViewBag.Title = "會員註冊";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}




<!-- Wrapper start -->
<div class="main">
    <!-- Header section start -->
    <section class="module-small bg-dark bg-dark-60" data-background="../../assets/images/QA.jpg">
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt">KUST 會員系統 - 註冊作業</h1>

                </div>

            </div><!-- .row -->

        </div>
    </section>

    <!-- Header section end -->
    <!-- Login/Registr start -->
    <section class="module-small">
        <div class="container">

            <div class="row">

                <div class="col-sm-12 mb-sm-40">


                    <form class="form" action="@Url.Action("Register")" method="post">
                        @Html.AntiForgeryToken()
                        <!-- Username -->
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.ACCOUNT)
                            @Html.TextBoxFor(m => m.ACCOUNT, new { @Placeholder = "請輸入帳號", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ACCOUNT, "", new { @class = "error-tip" })
                        </div>
                        <!-- Re-enter Password -->
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.PASSWORD)
                            @Html.TextBoxFor(m => m.PASSWORD, new { @Placeholder = "請輸入密碼", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PASSWORD, "", new { @class = "error-tip" })
                        </div>
                        <!-- Re-enter Password -->
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.PASSWORDCHECK)
                            @Html.TextBoxFor(m => m.PASSWORDCHECK, new { @Placeholder = "再次輸入密碼", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.PASSWORDCHECK, "", new { @class = "error-tip" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.NAME)
                            @Html.TextBoxFor(m => m.NAME, new { @Placeholder = "請輸入名稱", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NAME, "", new { @class = "error-tip" })
                        </div>
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.TEL)
                            @Html.TextBoxFor(m => m.TEL, new { @Placeholder = "請輸入電話", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.TEL, "", new { @class = "error-tip" })
                        </div>
                        <!-- Email -->
                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.EMAIL)
                            @Html.TextBoxFor(m => m.EMAIL, new { @Placeholder = "請輸入電子信箱", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "error-tip" })
                        </div>

                        <div id="twzipcode">
                            <div class="form-group">
                                @Html.DisplayNameFor(m => m.CITY)
                                @Html.HiddenFor(m => m.CITY)
                                <div data-role="county"></div>
                                @Html.ValidationMessageFor(m => m.CITY, "", new { @class = "error-tip" })
                            </div>


                            <div class="form-group">
                                @Html.DisplayNameFor(m => m.AREA)
                                @Html.HiddenFor(m => m.AREA)
                                <div data-role="district"></div>
                                @Html.ValidationMessageFor(m => m.AREA, "", new { @class = "error-tip" })
                            </div>


                            <div class="field" style="display:none">
                                @Html.DisplayNameFor(m => m.ZIP)
                                @Html.HiddenFor(m => m.ZIP)
                                <div data-role="zipcode"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.DisplayNameFor(m => m.ADDRESS)
                            @Html.TextBoxFor(m => m.ADDRESS, new { @Placeholder = "請輸入地址", @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.ADDRESS, "", new { @class = "error-tip" })
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-round btn-b">確認註冊</button>
                        </div>

                        @Scripts.Render("~/bundles/jqueryval")
                        @Scripts.Render("~/bundles/twzipcode")
                        <script>
                            $('#twzipcode').twzipcode({
                                'zipcodeIntoDistrict': true,
                                'onCountySelect': (function () { changeCityAreaVal($("#twzipcode"), $("#CITY"), $("#AREA"), $("#ZIP")); }),
                                'onDistrictSelect': (function () { changeCityAreaVal($("#twzipcode"), $("#CITY"), $("#AREA"), $("#ZIP")); }),
                                'css': ["form-control", "form-control"],
                            });

                            function changeCityAreaVal(p_twzipOjb, p_cityObj, p_areaObj, p_zipObj) {
                                if (!p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[0]) {
                                    p_cityObj.val("");
                                    p_areaObj.val("");
                                    p_zipObj.val("");
                                } else {
                                    p_cityObj.val(p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[0]);
                                    p_areaObj.val(p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[1]);
                                    p_zipObj.val(p_twzipOjb.twzipcode('get', ['county', 'district', 'zipcode'])[2]);
                                };
                            };
                        </script>
                    </form>

                </div>

            </div><!-- .row -->

        </div>
    </section>
    <!-- Login/Registr end -->
</div>