﻿@model TVMLib.dl.TB_USER
<div class="modal-header">
    編輯消息
</div>
<form class="user-form" action="@Url.Action("Edit")" method="post">

    <div class="modal-body">
        @Html.AntiForgeryToken()      
        <div class="v-type">
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.NAME)
                </div>
                @Html.TextBoxFor(m => m.NAME, new { @Placeholder = "請輸入消息標題", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(m => m.NAME, "", new { @class = "error-tip" })
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.ACCOUNT)
                </div>
                @Html.TextBoxFor(m => m.ACCOUNT, new { @Placeholder = "", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(m => m.ACCOUNT, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.EMAIL)
                </div>
                @Html.TextAreaFor(m => m.EMAIL, new { @Placeholder = "", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.TEL)
                </div>
                @Html.TextAreaFor(m => m.TEL, new { @Placeholder = "", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(m => m.TEL, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.CITY)
                </div>
                @Html.TextAreaFor(m => m.CITY, new { @Placeholder = "", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(m => m.CITY, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.AREA)
                </div>
                @Html.TextAreaFor(m => m.AREA, new { @Placeholder = "", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(m => m.AREA, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.ADDRESS)
                </div>
                @Html.TextAreaFor(m => m.ADDRESS, new { @Placeholder = "", @disabled = "disabled" })
            </div>
            @Html.ValidationMessageFor(m => m.ADDRESS, "", new { @class = "error-tip" })

          
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">確認</button>
        @*<button type="submit" class="btn btn-01">儲存</button>*@
    </div>

</form>
