﻿@model List<TVMLib.dl.TB_USER>
@{
    ViewBag.Title = "會員管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            會員管理
        </div>
    </div>
    <div class="common-wrap">
        <form action="@Url.Action("Search")" method="get">
            <div class="filter-block">
                <div class="title">
                    Filter
                </div>
                <div class="filter-field">
                    <label>關鍵字</label>
                    <input type="type" name="p_KeyWork" value="" />
                </div>
                <button type="submit"  class="btn btn-01">查詢</button>
            </div>
        </form>
        @*<div class="edit-block">
            <a href="@Url.Action("Add")" class="btn btn-01" data-toggle="modal" data-target="#modal-container">新增</a>
        </div>*@
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>帳號</th>
                        <th>信箱</th>
                        <th>電話</th>
                        <th>城市</th>
                        <th>區域</th>
                        <th>建立時間</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                    <tr>
                        <td>@Item.NAME</td>
                        <td>@Item.ACCOUNT</td>
                        <td>@Item.EMAIL</td>
                        <td>@Item.TEL</td>
                        <td>@Item.CITY</td>
                        <td>@Item.AREA</td>
                        <td>@(Item.CREATE_TIME.ToString("yyyy/MM/dd"))</td>
                        <td>
                            <a href="@Url.Action("Edit",new {p_USER_GUID=Item.USER_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-01">檢視</a>
                            <a href="@Url.Action("Delete",new {p_USER_GUID=Item.USER_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-02">刪除</a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

