﻿@model TVMLib.dl.TB_PROFILE
<form class="user-form" action="@Url.Action("DeleteConfirm")" method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PROFILE_GUID)
    <div class="modal-header">
        系統訊息
    </div>
    <div class="modal-body">
        是否確認刪除此項目
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-01">刪除</button>
    </div>
</form>

