﻿@model TVMLib.dl.AdminProfile.AdminProfileVM
<div class="modal-header">
    編輯技術規格
</div>
@using (Html.BeginForm("Edit", "AdminProfile", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user-form" }))
{

    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PROFILE_GUID)
    <div class="modal-body">


        <div class="v-type">
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.TITLE)
                </div>
                @Html.TextBoxFor(m => m.TITLE, new { @Placeholder = "請輸入檔案名稱" })
            </div>
            @Html.ValidationMessageFor(m => m.TITLE, "", new { @class = "error-tip" })

            @if (Model != null)
            {
                if (!string.IsNullOrEmpty(Model.PATH))
                {

                    <div class="field">
                        <div class="field-name">
                            舊 檔案瀏覽
                        </div>
                        <a href="../@Model.PATH.Substring(Model.PATH.IndexOf("UPLOADFILES"))" width="200px" height="auto">@Model.TITLE</a>
                        @Html.HiddenFor(m => m.PATH)
                    </div>
                }
            }
            <div class="field">
                <div class="field-name">
                    新 @Html.DisplayNameFor(m => m.PATH)
                </div>
                @Html.TextBoxFor(m => m.PATH_UPLOAD, new { type = "file" })
            </div>

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.IS_ACTIVE)
                </div>
                @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @Placeholder = "請選擇是否上架" })
            </div>
            @Html.ValidationMessageFor(m => m.IS_ACTIVE, "", new { @class = "error-tip" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-01">儲存</button>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
