﻿.btn {
    transition: all .3s;
    border-radius: 0;

    &.btn-01 {
        background-color: #79b78c;
        color: #FFF;

        &:hover {
            background-color: darken(#79b78c,10%);
        }
    }

    &.btn-02 {
        background-color: #ff5871;
        color: #FFF;

        &:hover {
            background-color: darken(#ff5871,10%);
        }
    }

    &.btn-b {
        border: 2px solid #79b78c;
        color: #79b78c;


        &:hover {
            background-color: #79b78c;
            color: #FFF;
        }
    }


    &.br25 {
        border-radius: 25px;
    }
}


.button-wrap {
    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }
}