﻿#cart-modal {
    .modal-content {
        height: 90vh;
        display: flex;
        flex-direction: column;

        .cart-header {
            text-align: center;
            padding: 10px;
        }

        .cart-content {
            flex: 1;
            padding: 0 10px;
            overflow: auto;

            .item {
                display: flex;
                margin-bottom: 10px;

                .img-wrap {
                    width: 60px;

                    img {
                        width: 100%;
                    }
                }

                .info-wrap {
                    flex: 1;
                    padding: 0 15px;

                    .amount {
                        margin-right: 5px;
                        font-size: 0.9em;
                    }

                    .price {
                        margin-left: 5px;
                        font-size: 0.9em;
                    }
                }
            }
        }

        .cart-footer {
            padding: 10px;

            .total-price {
                display: flex;

                span {
                    flex: 1;
                    text-align: right;
                }
            }

            .btn {
                width: 100%;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.cart-page {
    padding: 20px;

    .step-list {
        padding: 30px 0;

        @media screen and (max-width: 700px) {
            text-align: center;
        }

        .step {
            display: inline-block;
            margin-left: 50px;
            opacity: 0.4;
            color: #757575;
            position: relative;
            /*&:before {
                content: '';
                height: 30px;
                width: 30px;
                background-color: #c8c2bb;
                border-radius: 50%;
                position: absolute;
                left: -10px;
                top: -3px;
                z-index: 1;
            }*/
            &:after {
                content: '\f0da ';
                font-family: fontawesome;
                position: absolute;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                z-index: 2;
                color: #c8c2bb;
            }

            &:first-child {
                margin-left: 0;

                &:after {
                    display: none;
                }
            }

            &.active {
                opacity: 1;
            }

            & > div {
                font-family: 'Roboto Condensed',sans-serif;
                color: #FFF;
                background-color: #c8c2bb;
                display: inline-block;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                border-radius: 50%;
            }

            & > span {
                font-size: 0.85em;

                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
        }
    }

    .cart-list {
        @media screen and (max-width: 700px) {
            font-size: 0.9em;
        }

        & > div {
            display: flex;
            background-color: #FFF;
            margin-bottom: 10px;
            position: relative;
            border-bottom: 1px dashed #ccc;
            padding-bottom: 10px;


            .img-wrap {
                width: 100px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .txt-wrap {
                flex: 1;
                padding: 10px;
                min-width: 1px;


                .name {
                    margin-bottom: 5px;
                    font-weight: bold;
                }

                .size {
                    font-size: 0.8em;
                    margin-bottom: 10px;
                }

                .unit-price {
                    font-size: 0.8em;
                    margin-bottom: 10px;
                }

                .amount {
                    input {
                        border: 1px solid #ccc;
                        border-radius: 3px;
                        padding: 3px 10px;
                        max-width:100px;
                    }
                }

                .price {
                    position: absolute;
                    right: 50px;
                    top: 50%;
                    transform: translateY(-50%);

                    span {
                        font-weight: bold;
                        font-size: 1.5em;
                        font-family: 'Roboto Condensed', sans-serif;
                    }

                    @media screen and (max-width: 700px) {
                        position: unset;
                        transform: translateY(0);
                    }
                }

                .delete {
                    background-color: #fff;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    width: 35px;
                    height: 35px;
                    line-height: 35px;
                    text-align: center;
                    border-radius: 50%;
                    transform:translateY(-50%);
                    cursor:pointer;
                }

                .promotions {
                    background-color: #fbe4e4;
                    display: inline-block;
                    padding: 3px 10px;
                    font-size: 0.8em;
                    border-radius: 3px;
                }

                .flex {
                    display: flex;
                    align-items: center;

                    .price {
                        font-family: Arial;
                        text-align: right;
                        font-size: 0.7em;
                        margin: 0 5px;

                        &:before {
                            content: "$ ";
                            line-height: 1;
                            font-size: .5rem;
                        }
                    }

                    .count-edit {
                        display: flex;
                        font-family: Arial;
                        flex: 1;
                        min-width: 1px;

                        input {
                            border: none;
                            border-bottom: 1px solid #b5b5b5;
                            margin: 0 10px;
                            text-align: center;
                            flex: 1;
                            min-width: 1px;
                        }

                        .minus, .plus {
                            background-color: #f6f6f6;
                            width: 35px;
                            border-radius: 3px;
                            display: block;
                            text-align: center;
                            line-height: 35px;
                            font-size: 25px;
                        }
                    }


                    .trash {
                        width: 35px;
                        display: block;
                        text-align: center;
                        color: #FFF;
                        font-family: Arial;
                        line-height: 35px;
                        font-size: 1em;
                        background-color: #353638;
                        margin-left: 10px;
                        border-radius: 3px;
                    }
                }
            }
        }
    }

    .price-box {
        position: fixed;
        background-color: #FFF;
        padding: 20px;

        @media screen and (max-width: 700px) {
            position: unset;
        }

        & > div {
            display: flex;
            padding: 5px 0;
            font-size: 0.8em;

            &:nth-of-type(3) {
                border-bottom: 1px dashed #ccc;
                padding-bottom: 10px;
                margin-bottom: 5px;
            }

            & > div {
                flex: 1;
                text-align: right;
                min-width: 100px;
            }
        }

        .total-price {
            color: #ff122d;

            span {
                font-weight: bold;
                font-size: 1.5em;
                font-family: 'Roboto Condensed',sans-serif;
            }
        }

        a {
            display: block;
            border: 2px solid #6a9427;
            margin-top: 10px;
            padding: 5px 0px;
            text-align: center;
            color: #6a9427;

            &:last-of-type {
                background-color: #6a9427;
                color: #FFF;
            }
        }
    }

    .money-box {
        background-color: #FFF;
        margin: 0;
        margin-bottom: 10px;
        padding: 20px;

        & > div {
            display: flex;
            padding: 5px 0;
            font-size: 0.8em;

            &:nth-of-type(3) {
                border-bottom: 1px dashed #ccc;
                padding-bottom: 10px;
                margin-bottom: 5px;
            }

            & > div {
                flex: 1;
                text-align: right;
                margin-left: 80px;
            }
        }

        .total-price {
            color: #ff122d;

            span {
                font-weight: bold;
                font-size: 1.5em;
                font-family: 'Roboto Condensed',sans-serif;
            }
        }
    }

    .payment-list {
        padding: 15px;
        background-color: #FFF;
        margin-bottom: 20px;


        & > div {
            border-bottom: 1px solid #f1f1f1;
            display: flex;
            padding: 15px 0;
            padding-left: 40px;
            position: relative;

            @media screen and (max-width: 700px) {
                display: block;
            }

            &:last-child {
                border-bottom: none;
            }

            & > label {
                margin-bottom: 0;
                color: #585858;
                font-size: 0.9em;

                span {
                    position: absolute;
                    left: 5px;
                    width: 21px;
                    height: 21px;
                    border-radius: 50%;
                    top: 50%;
                    transform: translateY(-50%);
                    border: 1px solid #d9d9d9;
                }

                input {
                    display: none;

                    &:checked + span:after {
                        content: '';
                        position: absolute;
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        top: 4px;
                        left: 4px;
                        background-color: #999;
                    }
                }
            }

            & > div {
                flex: 1;
                text-align: right;
                font-size: 0.8em;
                color: #999;

                @media screen and (max-width: 700px) {
                    text-align: left;
                }
            }
        }
    }

    .info-title {
        font-size: .8em;
        letter-spacing: 2px;
        display: inline-block;
        background-color: #c8c2bb;
        color: #FFF;
        border-radius: 25px;
        padding: 3px 15px;
        margin-bottom: 10px;
    }

    .info-box {
        background-color: #FFF;
        padding: 20px;
        margin-bottom: 30px;


        .info-field {
            display: flex;
            margin-bottom: 10px;
            align-items: center;

            &:last-child {
                margin-bottom: 0;
            }

            a {
                font-size: 0.85em;
            }

            span {
                width: 70px;
                font-size: 0.85em;
            }

            input, select {
                flex: 1;
                border: 1px solid #e6e6e6;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
                border-radius: 3px;
                margin: 0 10px;
                min-width: 1px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .invoice-wrap {
        background-color: #FFF;
        margin-bottom: 30px;

        #InvoiceTab {
            border-bottom: none;

            a {
                color: #383838;
                padding: 5px 15px;
                font-size: 0.9em;
                flex: 1;
                border-right: 1px solid #f1f1f1;
                border-bottom: 1px solid #f1f1f1;
                border-top: 3px solid #dbdbdb;
                text-align: center;

                &.active {
                    border-bottom: none;
                    border-top: 3px solid #6a9427;
                }

                &:last-child {
                    border-right: 0;
                }
            }
        }

        #InvoiceContent {
            padding: 30px;

            .invoice-field {
                margin-bottom: 10px;
                display: flex;

                span {
                    height: 30px;
                    line-height: 30px;
                    margin: 0;
                    font-size: 0.8em;
                    color: #383838;
                }

                input {
                    flex: 1;
                    margin-left: 10px;
                    border: none;
                    padding: 0 15px;
                    height: 30px;
                    line-height: 30px;
                    border: 1px solid #e6e6e6;
                }
            }

            .note {
                font-size: 0.8em;
                color: #9a8e8e;
            }
        }
    }

    .info-note {
        background-color: #FFF;
        padding: 10px;
        font-size: 0.85em;
        line-height: 200%;
        margin-bottom: 20px;
    }

    .complete-wrap {
        display: flex;
        padding: 30px;

        @media screen and (max-width: 700px) {
            display: block;
            padding: 0 10px;
        }

        .img-wrap {
            width: 250px;

            img {
                width: 100%;
            }

            @media screen and (max-width: 700px) {
                width: 200px;
                margin: 0 auto;
                margin-bottom: -200px;
                opacity: 0.2;
                position: relative;
                z-index: 1;
            }
        }

        .text-wrap {
            position: relative;
            z-index: 2;


            h3 {
                margin-bottom: 30px;
            }

            div {
                margin-bottom: 30px;

                span {
                    color: #ff122d;
                    margin: 0 5px;
                }
            }

            flex: 1;
            padding: 30px;
            line-height: 175%;
            margin-left: 30px;

            @media screen and (max-width: 700px) {
                margin-left: 0;
                padding-top: 0;
                font-size: 0.9em;
            }
        }
    }
}

.fixed-block-price {
    display: flex;
    border-top: 1px solid #d8d8d8;
    background-color: #FFF;
    margin-top: 1px;
    height: 45px;

    .total-price {
        line-height: 45px;
        flex: 1;
        text-align: center;
        font-size: 0.8em;
        color: #dc4040;

        span {
            font-size: 1.5em;
            font-family: Arial;
        }
    }

    .add-to-cart {
        flex: 1;
        background-color: #dc4040;
        color: #FFF;
        border: none;
    }
}

.fixed-block-price {
    display: flex;
    border-top: 1px solid #d8d8d8;
    background-color: #FFF;
    margin-top: 1px;
    height: 45px;

    .total-price {
        line-height: 45px;
        flex: 1;
        text-align: center;
        font-size: 0.8em;
        color: #dc4040;

        span {
            font-size: 1.5em;
            font-family: Arial;
        }
    }

    .add-to-cart {
        flex: 1;
        background-color: #dc4040;
        color: #FFF;
        border: none;
    }
}
