﻿.v-type {


    &.sm-size {
        width: 90%;
        max-width: 380px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .field {
        display: flex;
        margin-bottom: 10px;

        .field-name {
            width: 70px;
            margin-right: 10px;
            font-size: 0.9em;
            text-align: justify;

            &:after {
                content: "";
                display: inline-block;
                width: 100%;
            }
        }


        #twzipcode {
            display: flex;
            flex: 1;
            min-width: 1px;
            flex-wrap: wrap;

            & > div {
                margin-bottom: 5px;
                flex: 1;
                display: flex;
                min-width: 1px;

                &[data-role="county"] {
                    margin-right: 5px;
                }
            }

            input[name="address"] {
                width: 100%;
                flex: none;
            }
        }

        input:not([type='checkbox']):not([type='radio']):not([type='submit']), select {
            flex: 1;
            line-height: 30px;
            height: 30px;
            padding: 0 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        textarea {
            flex: 1;
            height: 200px;
            padding: 0 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }
    }
}
