﻿.index-banner {
    padding: 40px 0;
    margin-bottom: 40px;
    position: relative;
    background-image: url('../img/rice-560046_1920.jpg');
    background-size: cover;
    background-position: center center;
    /*img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }*/
    .banner-text {
        div {
            font-weight: bold;
            font-size: 1.5em;
            color: #FFF;
            margin-bottom: 20px;
        }

        span {
            color: #FFF;
            display: inline-block;
            margin-bottom: 10px;
            border-bottom: 1px solid #FFF;
        }
    }
}
.category {

    .p-title {
       
        position: relative;
        padding: 15px;

        &:after {
            content: '';
            background-color: #79b78c;
            width: 30px;
            height: 30px;
            position: absolute;
            left: 0;
            top: 10px;
            z-index: 1;
            opacity: 0.2;
        }

        &:before {
            content: '';
            border: 1px solid #79b78c;
            width: 35px;
            height: 35px;
            position: absolute;
            left: 20px;
            top: -14px;
            z-index: 1;
            opacity: 0.5;
        }

        


        img {
            display:none;
        }

        div {
            font-size: 2em;
            font-weight: bold;
            z-index: 2;
            position: relative;
        }

        span {
            z-index: 2;
            position: relative;
        }
    }

    .category-list {
        .category {
            height: 150px;
            padding: 20px;
            padding-right: 100px;
            margin-bottom: 25px;
            display: block;
            color: #000;

            .title {
                font-size: 1.2em;
                font-weight: bold;
                margin-bottom: 5px;
            }

            .desc {
                span {
                    font-weight: bold;
                    font-size: 1.2em;
                    margin: 0 5px;
                }
            }

            img {
                position: absolute;
                right: 15px;
                height: 150px;
                top: 0;
            }

            &.category-01 {
                background-color: #e9b3b1;
            }

            &.category-02 {
                background-color: #c9e6e4;
            }

            &.category-03 {
                background-color: #fae395;
            }
        }
    }
}
