﻿@import url('https://fonts.googleapis.com/css?family=Karla&display=swap');

body {
    font-size: 16px;
    font-family: 'Karla', sans-serif,'Microsoft JhengHei';
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
}


.common-wrap {
    max-width: 960px;
    margin: 0 auto;
    padding:0 15px;
}

.page-banner {
    height:160px;
    background-image: url('../img/rice-560046_1920.jpg');
    background-size: cover;
    background-position: center center;
    position:relative;
    margin-bottom:40px;
    &>div{
        position:absolute;
        left:50%;
        top:50%;
        color:#FFF;
        font-weight:bold;
        font-size:2em;
        transform:translate(-50%,-50%);
    }
    
}

.filter-block {
    background-image: url('../img/dots-bg.png');
    padding: 30px 20px 20px 20px;
    margin-bottom: 20px;
    position: relative;

    .title {
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 1.3em;
        border-bottom: 1px solid #000;
        position: absolute;
        top: -20px;
    }

    .filter-field {
        label {
            font-size: 0.9em;
        }
        input{
            border:1px solid #79b78c;
            padding:3px 10px;
            margin-bottom:15px;
        }
    }
}
.edit-block{
    text-align:right;
    margin-bottom:10px;
}


.header {
    position: relative;



    &:before {
        content: "";
        display: block;
        background-color: #79b78c;
        width: 100%;
        height: 3px;

        @media screen and (max-width: 700px) {
            height: 5px;
            z-index: 999;
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
        }
    }

    .top-wrap {
        display: flex;
        padding: 15px;
        align-items: center;



        @media screen and (max-width: 700px) {
            position: fixed;
            left: 0;
            top: 0;
            right: 0;
            background-color: #FFF;
            z-index: 998;
            height: 50px;
            box-shadow: 0 2px 3px rgba(0,0,0,.2);
            padding: 10px 15px 5px 15px;
            padding-left: 70px;
        }


        .side-menu-btn {
            display: none;

            @media screen and (max-width: 700px) {
                display: block;
                position: absolute;
                width: 25px;
                height: 20px;
                left: 15px;
                top: 50%;
                -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                cursor: pointer;
                z-index: 99;

                &:before, &:after, span {
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    left: 0;
                    background-color: #79b78c;
                    -moz-transition: all .3s;
                    -o-transition: all .3s;
                    -webkit-transition: all .3s;
                    transition: all .3s;
                }

                &:before {
                    top: 0;
                    content: '';
                }

                span {
                    top: 10px;
                    opacity: 1;
                }

                &:after {
                    top: 20px;
                    content: '';
                }

                &.menu-open {
                    &:before {
                        top: 12px;
                        -moz-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        -o-transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }


                    span {
                        opacity: 0;
                    }

                    &:after {
                        top: 12px;
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
        }


        .logo-wrap {

            img {
                width: 150px;

                @media screen and (max-width: 700px) {
                    height: 35px;
                    width: auto;
                }
            }
        }

        .link-wrap {
            flex: 1;
            text-align: right;

            @media screen and (max-width: 700px) {
                .hidden-for-mobile {
                    display: none;
                }
            }

            a {
                color: #555;
                margin: 0 10px;
                font-size: 0.9em;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .menu-wrap {
        padding: 20px 0;
        background-color: #79b78c;

        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
            background-color: #FFF;
            border-top: 5px solid #79b78c;
            box-shadow: 0px 2px 3px rgba(0,0,0,.2);

            a {
                color: #79b78c;
            }
        }

        .show-for-mobile {
            display: none;

            @media screen and (max-width: 700px) {
                display: block;
            }
        }

        a {
            color: #FFF;
            font-weight: bold;
            margin-right: 30px;

            &:last-child {
                margin-right: 0;
            }
        }

        @media screen and (max-width: 700px) {
            position: fixed;
            left: 0;
            top: 50px;
            right: 0;
            bottom: 0;
            padding: 20px;
            background-color: #FFF;
            z-index: 997;
            transform: translateX(-100%);
            transition: all .3s;

            &.menu-open {
                transform: translateX(0);
            }

            a {
                color: #79b78c;
                display: block;
                padding: 10px;
                border-bottom: 1px solid #f1f1f1;
            }
        }
    }
}
/*.page-banner {
    background-image: url('../img/banner.png');
    background-size: cover;
    height: 200px;
    position: relative;

    @media screen and (max-width: 700px) {
        height: 100px;
    }


    .page-title {
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        color: #FFF;
        font-size: 2em;
        padding: 5px 15px;
        box-shadow: 13px -13px 0px rgba(255, 255, 255, 0.5);
        background-color: rgb(106, 148, 39);

        @media screen and (max-width: 700px) {
            font-size: 1.2em;
            left: 20px;
        }
    }
}*/

.page-wrap {
    padding-bottom:20px;
    min-height:700px;
    @media screen and (max-width: 700px) {
        padding-top:50px;
    }
}

.banner-wrap {
    margin-bottom: 40px;
}
.scroll-top {
    position: fixed;
    bottom: 105px;
    right: 40px;
    background-color: #6a9427;
    box-shadow: 2px 2px 3px rgba(0,0,0,.2);
    cursor: pointer;
    opacity: 0;
    transition: all .3s;
    border-radius: 50%;
    padding: 3px;
    z-index: 800;

    img {
        width: 50px;
    }
}


.m-title {
    position: relative;
    padding:15px;
    margin-top:50px;

    &:after {
        content: '';
        background-color: #79b78c;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 1;
        opacity: 0.2;
    }

    &:before {
        content: '';
        border: 1px solid #79b78c;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 20px;
        top: -14px;
        z-index: 1;
        opacity: 0.5;
    }

    span {
        position: relative;
        z-index: 3;
    }
}


.footer {
    background-color: #d8e9dc;
    font-size: 13px;
    padding:10px 0;
    text-align: center;
}

.test-item {
    .item-name {
        margin-top: 20px;
        margin-bottom: 5px;
    }
}

.user-form {
    width: 90%;
    max-width: 380px;
    margin: 0 auto;
    padding-bottom: 40px;

    .field {
        margin-bottom: 15px;
        font-size: 0.9em;
        display: flex;

        span {
            color: #FFF;
            background-color: #79b78c;
            font-weight: bold;
            line-height: 35px;
            width: 110px;
            text-align:center;
            letter-spacing: -1px;
        }

        input, select {
            border: 2px solid #79b78c;
            padding: 0 10px;
            height: 35px;
            line-height: 35px;
            flex: 1;
        }
    }


    .error-tip {
        color: #FF0000;
        font-size: 0.9em;
        margin-bottom: 10px;
        text-align: center;
    }
}