﻿.news {
    margin-bottom: 80px;
    padding-left: 200px;
    position: relative;

    @media screen and (max-width: 700px) {
        padding-left: 0;
    }




    .p-title {
        @media screen and (min-width: 701px) {
            /*position: absolute;
            left: 40px;
            top: 30%;
            transform: translateY(-50%);
            padding-top: 20px;*/
            position: absolute;
            padding: 15px;
            left: 40px;

            &:after {
                content: '';
                background-color: #79b78c;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top: 10px;
                z-index: 1;
                opacity: 0.2;
            }

            &:before {
                content: '';
                border: 1px solid #79b78c;
                width: 35px;
                height: 35px;
                position: absolute;
                left: 20px;
                top: -14px;
                z-index: 1;
                opacity: 0.5;
            }



            img {
                display: none;
                position: absolute;
                z-index: 1;
                opacity: 0.3;
                top: 0;
                left: -30px;
            }

            div {
                font-size: 2em;
                font-weight: bold;
                z-index: 2;
                position: relative;
            }

            span {
                z-index: 2;
                position: relative;
            }
        }

        @media screen and (max-width: 700px) {
            
            position: relative;
            margin-bottom: 40px;

            &:after {
                content: '';
                background-color: #79b78c;
                width: 30px;
                height: 30px;
                position: absolute;
                left: 0;
                top: 10px;
                z-index: 1;
                opacity: 0.2;
            }

            &:before {
                content: '';
                border: 1px solid #79b78c;
                width: 35px;
                height: 35px;
                position: absolute;
                left: 20px;
                top: -14px;
                z-index: 1;
                opacity: 0.5;
            }

            img {
                display: none;
                position: absolute;
                z-index: 1;
                opacity: 0.3;
                top: -40px;
                left: 50%;
            }

            div {
                font-size: 2em;
                font-weight: bold;
                z-index: 2;
                position: relative;
            }

            span {
                z-index: 2;
                position: relative;
            }
        }
    }

    .news-list {
        margin-bottom: 20px;

        a {
            display: block;
            border-top: dashed 1px #e5e5e5;
            border-bottom: dashed 1px #e5e5e5;
            padding: 15px 0;
            line-height: 1.6;
            color: #555;
            position: relative;
            padding-right: 50px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;


            &:after {
                content: '⇀';
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                color: #79b78c;
                opacity: 0.5;
            }

            span {
                color: #79b78c;
                margin-right: 30px;
            }
        }
    }
}

.news-list {
    margin-bottom:20px;
    a {
        display: block;
        border-top: dashed 1px #e5e5e5;
        border-bottom: dashed 1px #e5e5e5;
        padding: 15px 0;
        line-height: 1.6;
        color:#555;

        span {
            color: #79b78c;
            margin-right:30px;
        }
    }
}

.news-title {
    color: #585858;
    font-size:1.3em;
    font-weight:bold;
}
.news-date{
    color:#79b78c;
    font-size:0.9em;
    margin-bottom:20px;
}
.news-content {
    color:#585858;
    line-height:175%;
}