﻿//列表頁
.product-list {
    padding: 40px;

    @media screen and (max-width: 700px) {
        padding: 10px;
    }


    .product-wrap {
        color: #585858;
        display: block;

        img {
            width: 100%;
        }

        & + .btn {
            margin-bottom: 50px;
            width: 100%;
        }
    }
}

//明細頁
.product-detail {
    padding: 60px;

    @media screen and (max-width: 700px) {
        padding: 10px;

        .col-md-6 {
            padding: 0;
        }
    }

    .product-show-wrap {
        padding: 0 60px;

        @media screen and (max-width: 700px) {
            padding: 0;
        }
    }

    .info-wrap {
        margin-bottom: 20px;

        .name {
            font-size: 1.8em;
            padding-bottom: 10px;
        }

        .price {
            margin-bottom: 20px;

            span {
                font-weight: bold;
                font-size: 1.5em;
            }
        }

        .info {
            label {
                font-size: 0.8em;
                display: block;
            }

            input, select {
                border: 1px solid #ced4da;
                height: 35px;
                padding: 0 10px;
                width: 100%;
                border-radius: 5px;
                margin-bottom: 20px;
            }
        }
    }

    /*.may-like {
        & > label {
            text-align: center;
            display: block;
            padding-top: 40px;
        }
    }*/
}



//加入購物車完成提示視窗
#to-car-msg {
    /*background: linear-gradient(to right,#f3533e,#ef416e);*/
    background-color: #6a9427;
    color: #FFF;
    text-align: center;
    padding: 40px;

    a {
        display: block;
        color: #FFF;
        border: 1px solid #FFF;
        margin-top: 20px;
        transition: all .3s;

        &:hover {
            background-color: #FFF;
            color: #6a9427;
        }
    }
}