﻿.supervision-page {
    position: relative;
    padding-bottom: 20px;

    .supervision-menu {
        position: absolute;
        width: 110px;
        left: 0;
        top: 0;

        a {
            display: block;
            font-size: 0.85em;
            color: #585858;
            margin-bottom: 20px;
            padding-left: 25px;
            position: relative;

            span {
                border: 1px solid #b7b7b7;
                display: inline-block;
                width: 20px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                position: absolute;
                left: 0;
                top: 0;
            }

            &.active {
                span {
                    background-color: #79b78c;
                    border: 1px solid #79b78c;
                    color: #FFF;
                }
            }
        }

        @media screen and (max-width: 700px) {
            width: 20px;
            overflow-x: hidden;

            a {
                white-space: nowrap;
            }
        }
    }

    .supervision-content {
        margin-left: 140px;

        @media screen and (max-width: 700px) {
            margin-left: 40px;
        }

        .button-wrap{
            margin-top:30px;
        }
    }
}
