﻿.table-wrap{
    overflow-x:auto;
    margin-bottom:30px;
}

.table {
    th {
        background-color: #d8e9dc;
        font-size: 0.9em;
        /*white-space: nowrap;*/
    }

    td {
        border: 1px solid #dee2e6;
    }

    tr {
        &:nth-child(odd) {
            background-color: rgba(#d8e9dc,.1);
        }
    }
}

.footable {
    th {
        background-color: #d8e9dc;
        font-size: 0.85em;
        /*white-space: nowrap;*/
        padding: 3px 5px;
    }

    td {
        border: 1px solid #dee2e6;
        padding: 5px 3px;

        table {
            width: 100%;
        }

        input:not([type="file"]), select {
            margin: 0 5px;
            min-width: 70px;
            line-height: 30px;
            height: 30px;
            padding: 0 5px;
            border: 1px solid #CCC;
        }
    }
}
