﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/aseets_admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/aseets_admin/css/footable.bootstrap.min.css" rel="stylesheet" />
    <link href="~/aseets_admin/css/master.min.css" rel="stylesheet" />

    <script src="~/aseets_admin/js/jquery.min.js"></script>
    <script src="~/aseets_admin/js/bootstrap.min.js"></script>
    <script src="~/aseets_admin/js/footable.min.js"></script>
    <script src="~/aseets_admin/js/jquery.twzipcode.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="top-wrap common-wrap">
            <div class="side-menu-btn">
                <span></span>
            </div>
            <a href="@Url.Action("Index","adminindex")" class="logo-wrap">
                <img src="~/aseets_admin/img/雄大科技logo1.png" />
            </a>
            @if (@TVMLib.Utility.UserData.USER_GUID != null)
            {
                <div class="link-wrap">
                    <span class="hidden-for-mobile">
                        <text>您好，@TVMLib.Utility.UserData.NAME</text>
                        &nbsp;&nbsp;|
                        <a href="@Url.Action("Logout", "AdminIndex")">登出</a>
                    </span>
                </div>
            }

        </div>

        <div class="menu-wrap">
            @if (@TVMLib.Utility.UserData.USER_GUID != null)
            {
                <div class="common-wrap">

                    <div class="show-for-mobile">
                        <a href="@Url.Action("Logout", "AdminIndex")">您好，系統管理者 | 登出</a>
                    </div>
                    @*<a href="@Url.Action("AdminSlider", "AdminSlider")">輪播管理</a>*@
                    <a href="@Url.Action("AdminAboutus", "AdminAboutus")">關於我們</a>
                    <a href="@Url.Action("AdminNews", "AdminNews")">消息管理</a>
                    <a href="@Url.Action("AdminProCategory", "AdminProCategory")">產品類別</a>
                    <a href="@Url.Action("AdminProduct", "AdminProduct")">產品管理</a>
                    <a href="@Url.Action("AdminProfile", "AdminProfile")">技術規格</a>
                    <a href="@Url.Action("AdminQA", "AdminQA")">Q&A管理</a>
                    <a href="@Url.Action("AdminContact", "AdminContact")">聯絡我們</a>
                    <a href="@Url.Action("AdminMember", "AdminMember")">會員管理</a>
                    <a href="@Url.Action("AdminOrder", "AdminOrder")">訂單管理</a>
                    <a href="@Url.Action("AdminInquiry", "AdminInquiry")">詢價管理</a>
                </div>
            }
        </div>

    </div>


    <div>
        @RenderBody()
    </div>
    <div class="footer">
        © @System.DateTime.Now.Year KUST Innovative 雄大科技 , All Rights Reserved.
    </div>

    <div id="modal-container" class="modal fade hidden-print" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

            </div>
        </div>
    </div>
    @if (TempData[TVMLib.common.SealedGlobalPage.RESULT_MESSAGE] != null)
    {
        <div class="alert-box">
            @TempData[TVMLib.common.SealedGlobalPage.RESULT_MESSAGE]

            <style>
                .alert-box {
                    background-color: rgba(56, 128, 78, 0.8);
                    color: #FFF;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%) translateY(-110%);
                    transition: all .8s;
                    padding: 30px 40px;
                    z-index: 99;
                    border-radius: 10px;
                    font-size: 0.9em;
                    box-shadow: 2px 2px 4px rgba(0,0,0,.15);
                    line-height: 175%;
                }

                    .alert-box.show {
                        top: 150px;
                        transform: translateX(-50%) translateY(0%);
                    }
            </style>

            <script>
                jQuery(function () {
                    $(".alert-box").addClass("show");
                    setTimeout(function () {
                        $('.alert-box').removeClass('show');
                    }, 6000);
                });
            </script>
        </div>
    }
    <script>

        $(".side-menu-btn").click(function () {
            $(".side-menu-btn").toggleClass("menu-open");
            $(".menu-wrap").toggleClass("menu-open");
        })

        jQuery(function ($) {
            $('.footable').footable();
        });


        $(function () {
            // boostrap 4 load modal example from docs

            $('#modal-container').on('show.bs.modal', function (event) {

                var button = $(event.relatedTarget); // Button that triggered the modal

                var url = button.attr("href");

                var modal = $(this);

                // note that this will replace the content of modal-content everytime the modal is opened
                modal.find('.modal-content').load(url);

            });

            $('#modal-container').on('hidden.bs.modal', function () {

                // remove the bs.modal data attribute from it

                $(this).removeData('bs.modal');

                // and empty the modal-content element

                $('#modal-container .modal-content').empty();

            });
        });

    </script>


</body>
</html>
