﻿<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KUST Innovative 雄大科技</title>
    <meta name="description" content="">
    <meta name="author" content="">
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <!--favicon-->
    <link rel=icon href="~/assets/favicon/favicon-20200403023240123.ico" sizes="16x16" type="image/png">
    <!-- CSS -->
    <link href="~/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/simpletextrotator.css" rel="stylesheet">
    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/et-line-font.css" rel="stylesheet">
    <link href="~/assets/css/magnific-popup.css" rel="stylesheet">
    <link href="~/assets/css/flexslider.css" rel="stylesheet">
    <link href="~/assets/css/owl.carousel.css" rel="stylesheet">
    <link href="~/assets/css/animate.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">




    <!-- Javascript files -->
    <script src="~/assets/js/jquery-2.1.3.min.js"></script>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>

    <style>
        @@font-face {
            font-family: 'TaipeiSansTC';
            src: url('/fonts/TaipeiSansTCBeta-Regular.ttf');
            src: url('/fonts/TaipeiSansTCBeta-Bold.ttf');
        }

        body {
            font-family: 'TaipeiSansTC' !important;
        }

        .error-tip {
            color: red !important;
        }
    </style>
</head>
<body>


    <!-- Preloader -->
    <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>

    <!-- Navigation start -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="width:110px;padding:10px 15px !important" class="navbar-brand" href="@Url.Action("Index", "Index")"><img src="~/images/雄大科技logo1.png" border="0"></a>
            </div>

            <div class="collapse navbar-collapse" id="custom-collapse">

                <ul class="nav navbar-nav navbar-right">

                    <li><a href="@Url.Action("Aboutus", "Aboutus")" class="section-scroll">公司介紹</a></li>
                    <li><a href="@Url.Action("News", "News")" class="section-scroll">最新消息</a></li>
                    @*<li><a href="@Url.Action("Hot", "Product")">熱銷產品</a></li>*@

                    <li class="dropdown">
                        <a href="@Url.Action("Product", "Product", new { p_Type = "ALL" })" class="dropdown-toggle section-scroll" data-toggle="dropdown">所有產品</a>   <ul class="dropdown-menu">
                            @if (ViewBag.PRODUCT_MENU != null)
                            {
                                foreach (var item in ViewBag.PRODUCT_MENU as List<TVMLib.dl.Index.MenuProductCategoryVM>)
                                {
                                    <li class="dropdown">
                                        <a href="@Url.Action("Product", "Product", new { p_Type = item.NAME, p_CATEGORY = item.CATEGORY_GUID })" class="dropdown-toggle" data-toggle="dropdown"> @item.NAME </a>
                                        <ul class="dropdown-menu">
                                            @if (item.l_MenuProductVM != null)
                                            {
                                                foreach (var detail in item.l_MenuProductVM)
                                                {
                                                    <li><a href="@detail.URL">@detail.NAME</a></li>
                                                }
                                            }

                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </li>

                    <li><a href="@Url.Action("Profile", "Profile")#totop">技術規格</a></li>
                    <li><a href="@Url.Action("QA", "QA")">Q & A</a></li>
                    <li><a href="@Url.Action("Index", "Index")#contact" class="section-scroll">連絡我們</a></li>

                    @if (!String.IsNullOrEmpty(TVMLib.Utility.UserData.USER_GUID))
                    {
                        <li><a href="#">您好，@TVMLib.Utility.UserData.NAME</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login","Member")">會員登入/註冊</a></li>
                    }

                    <!-- CART -->
                    <li class="dropdown navbar-cart">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="icon-basket"></span>
                            <span class="cart-item-number">
                                @if (ViewBag.ORDER != null)
                                {
                                    <span> @((ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL.Count)</span>
                                }
                                else
                                {
                                    <span> 0</span>
                                }
                            </span>
                        </a>
                        <ul class="dropdown-menu cart-list" role="menu">

                            @if (ViewBag.ORDER != null)
                            {
                                if ((ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL.Count > 0)
                                {
                                    foreach (var item in (ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL)
                                    {
                                        <li>
                                            <div class="navbar-cart-item clearfix">
                                                <div class="navbar-cart-img">
                                                    <a href="#"><img src="../@item.l_TB_PRODUCT.PIC1.Substring(item.l_TB_PRODUCT.PIC1.IndexOf("UPLOADFILES"))" alt=""></a>
                                                </div>
                                                <div class="navbar-cart-title">
                                                    <a href="#">@item.l_TB_PRODUCT.NAME</a>
                                                    <span class="cart-amount">NT$ @item.PRICE &nbsp; x &nbsp; @item.UNIT </span><br>
                                                    <strong class="cart-amount">NT$ @(item.SUB_TOTAL)</strong>
                                                </div>
                                            </div>
                                        </li>
                                    }


                                    <li>
                                        <!-- navbar-cart-item -->
                                        <div class="clearfix">
                                            <div class="cart-sub-totle">
                                                <strong>訂單金額小計 : NT$ @((ViewBag.ORDER as TVMLib.dl.Order.OrderAndDetailVM).l_TB_ORDER_DETAIL.Sum(m => m.SUB_TOTAL))</strong>
                                            </div>
                                        </div>
                                    </li>

                                }

                            }

                            @if (ViewBag.ORDER != null)
                            {
                                <li>
                                    <div class="clearfix">
                                        <a href="@Url.Action("Checkout","Product")" class="btn btn-block btn-round btn-font-w">結帳</a>
                                    </div>
                                </li>
                            }


                       

                        </ul>
                    </li>
                    <!-- /CART -->


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">全站搜尋</a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <div class="dropdown-search">
                                    <form role="form">
                                        <input type="text" class="form-control" placeholder="請輸入商品關鍵字...">
                                        <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>

    </nav>
    <!-- Navigation end -->

    @RenderBody()

    <!-- Footer start -->
    <footer class="footer bg-dark">
        <div class="container">

            <div class="row">

                <div class="col-sm-6">
                    <p style="margin-top:10px" class="copyright font-alt">© @System.DateTime.Now.Year <a href="index.html">KUST Innovative 雄大科技</a>, All Rights Reserved.</p>
                </div>

                <div class="col-sm-6">
                    <div class="footer-social-links" style="font-size:20px !important">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-skype"></i></a>
                    </div>
                </div>

            </div><!-- .row -->

        </div>
    </footer>
    <!-- Footer end -->
    <!-- Scroll-up -->
    <div class="scroll-up">
        <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/allCustomScript")
        @RenderSection("scripts", required: false)*@

    @if (TempData[TVMLib.common.SealedGlobalPage.RESULT_MESSAGE] != null)
    {
        <div class="alert-box">
            @TempData[TVMLib.common.SealedGlobalPage.RESULT_MESSAGE]

            <style>
                .alert-box {
                    background-color: rgba(79, 92, 89, 0.8);
                    color: #FFF;
                    position: absolute;
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%) translateY(-110%);
                    transition: all .8s;
                    padding: 30px 40px;
                    z-index: 99;
                    border-radius: 10px;
                    font-size: 0.9em;
                    box-shadow: 2px 2px 4px rgba(0,0,0,.15);
                    line-height: 175%;
                }

                    .alert-box.show {
                        top: 150px;
                        transform: translateX(-50%) translateY(0%);
                    }
            </style>

            <script>
                jQuery(function () {
                    $(".alert-box").addClass("show");
                    setTimeout(function () {
                        $('.alert-box').removeClass('show');
                    }, 6000);
                });
            </script>
        </div>
    }


    <script src="~/assets/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/assets/js/appear.js"></script>
    <script src="~/assets/js/jquery.simple-text-rotator.min.js"></script>
    <script src="~/assets/js/jqBootstrapValidation.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="~/assets/js/gmaps.js"></script>
    <script src="~/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/assets/js/imagesloaded.pkgd.js"></script>
    <script src="~/assets/js/jquery.flexslider-min.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.fitvids.js"></script>
    <script src="~/assets/js/smoothscroll.js"></script>
    <script src="~/assets/js/wow.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <script src="~/assets/js/contact.js"></script>
    <script src="~/assets/js/custom.js"></script>
</body>

</html>
