﻿@model TVMLib.dl.AdminInquiry.AdminInquiryVM

<div class="modal-header">
    編輯消息
</div>
<form class="user-form" action="@Url.Action("Edit")" method="post">

    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.INQUIRY_GUID)
        <div class="v-type">

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.MAIN)
                </div>
                <label>
                    @Html.TextBoxFor(m => m.MAIN, new {  @class = "form-control",@readonly= "@readonly" })
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.MAIN, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.RE_PRICE)
                </div>
                <label>
                    @Html.TextBoxFor(m => m.RE_PRICE, new { @Placeholder = "請輸入回覆單價", @onchange = "value_change()", @class = "form-control" })
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.RE_PRICE, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.RE_COUNT)
                </div>
                <label>
                    @Html.TextBoxFor(m => m.RE_COUNT, new { @Placeholder = "請輸入回覆數量", @onchange = "value_change()", @class = "form-control" })
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.RE_COUNT, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.RE_TOTAL)
                </div>
                <label>
                    @Html.TextBoxFor(m => m.RE_TOTAL, new { @Placeholder = "請輸入回覆單價跟數量，計算總計", @class = "form-control",@readonly= "@readonly" })
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.RE_TOTAL, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.RE_PROCESS)
                </div>
                <label>
                    @Html.TextAreaFor(m => m.RE_PROCESS, new { @Placeholder = "請輸入處理內容" })
                </label>
            </div>
            @Html.ValidationMessageFor(m => m.RE_PROCESS, "", new { @class = "error-tip" })

        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-01">儲存</button>
    </div>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function value_change() {
            var price = document.getElementById('RE_PRICE').value
            var count = document.getElementById('RE_COUNT').value
        

            if (price >= 0 && count >= 0) {
                document.getElementById('RE_TOTAL').value = price * count;
            } else {
                document.getElementById('RE_TOTAL').value = "0";
            }
        }
    </script>
</form>
