﻿@model List<TVMLib.dl.Product.InquiryVM>
@{
    ViewBag.Title = "詢價管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            詢價管理
        </div>
    </div>
    <div class="common-wrap">
        <form action="@Url.Action("Search")" method="get">
            <div class="filter-block">
                <div class="title">
                    Filter
                </div>
                <div class="filter-field">
                    <label>關鍵字</label>
                    <input type="type" name="name" value="" />
                </div>
                <a href="#" class="btn btn-01">查詢</a>
            </div>
        </form>
        @*<div class="edit-block">
                <a href="@Url.Action("Add")" class="btn btn-01" data-toggle="modal" data-target="#modal-container">新增</a>
            </div>*@
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th  data-breakpoints="xs">圖片</th>             
                        <th>產品名稱</th>
                        <th  data-breakpoints="xs">單價</th>
                        <th>詢價人</th>
                        <th>電話</th>
                        <th  data-breakpoints="xs">EMAIL</th>
                        <th  data-breakpoints="xs">內容</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(Item.l_TB_PRODUCT.PIC1))
                                    {
                                        <img src="../@Item.l_TB_PRODUCT.PIC1.Substring(Item.l_TB_PRODUCT.PIC1.IndexOf("UPLOADFILES"))" width="300px" height="auto" />
                                    }
                                </td>                     
                                <td>@Item.l_TB_PRODUCT.NAME</td>
                                <td>@Item.l_TB_PRODUCT.PRICE</td>
                                <td>@Item.NAME</td>
                                <td>@Item.TEL</td>
                                <td>@Item.EMAIL</td>
                                <td>@(Item.MAIN.Length > 10 ? Item.MAIN.Substring(0, 9) : Item.MAIN)</td>
                                <td>
                                    <a href="@Url.Action("Edit",new {p_INQUIRY_GUID=Item.INQUIRY_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-01">修改</a>
                                    @*<a href="@Url.Action("Delete",new {p_INQUIRY_GUID=Item.INQUIRY_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-02">刪除</a>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>
