﻿@model TVMLib.dl.TB_QA
<div class="modal-header">
    新增Q&A
</div>

<link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

<form class="user-form" action="@Url.Action("Add")" method="post">

    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="v-type">
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.CATEGORY)
                </div>
                @Html.TextBoxFor(m => m.CATEGORY, new { @Placeholder = "請輸入類別" })
            </div>
            @Html.ValidationMessageFor(m => m.CATEGORY, "", new { @class = "error-tip" })
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.TITLE)
                </div>
                @Html.TextBoxFor(m => m.TITLE, new { @Placeholder = "請輸入標題" })
            </div>
            @Html.ValidationMessageFor(m => m.TITLE, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.MAIN)
                </div>
                @Html.TextAreaFor(m => m.MAIN, new { @Placeholder = "請輸入內容" })
            </div>
            @Html.ValidationMessageFor(m => m.MAIN, "", new { @class = "error-tip" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-01">儲存</button>
    </div>
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $('#CATEGORY').autocomplete({
            source: "/AdminQA/SearchCategoryGroup",
            minLength: 6,
            delay: 100
        });
    </script>
</form>
