﻿@model List<TVMLib.dl.TB_QA>
@{
    ViewBag.Title = "Q&A管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            Q&A管理
        </div>
    </div>
    <div class="common-wrap">
        <form action="@Url.Action("Search")" method="get">
            <div class="filter-block">
                <div class="title">
                    Filter
                </div>
                <div class="filter-field">
                    <label>關鍵字</label>
                    <input type="type" name="p_KeyWork" value="" />
                </div>
                <button type="submit" class="btn btn-01">查詢</button>
            </div>
        </form>
        <div class="edit-block">
            <a href="@Url.Action("Add")" class="btn btn-01" data-toggle="modal" data-target="#modal-container">新增</a>
        </div>
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>類別</th>
                        <th>標題</th>
                        <th>內容</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                            <tr>
                                <td>@Item.CATEGORY</td>
                                <td>@Item.TITLE</td>
                                <td>@(StripHTML.getStripHTMLInList(Item.MAIN))</td>

                                <td>
                                    <a href="@Url.Action("Edit",new {p_QA_GUID=Item.QA_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-01">修改</a>
                                    <a href="@Url.Action("Delete",new {p_QA_GUID=Item.QA_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-02">刪除</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>

