﻿@model List<TVMLib.dl.AdminProduct.AdminProductVM>
@{
    ViewBag.Title = "產品管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-wrap">
    <div class="page-banner">
        <div>
            產品管理
        </div>
    </div>
    <div class="common-wrap">
        <form action="@Url.Action("Search")" method="get">
            <div class="filter-block">
                <div class="title">
                    Filter
                </div>
                <div class="filter-field">
                    <label>關鍵字</label>
                    <input type="type" name="name" value="" />
                </div>
                <a href="#" class="btn btn-01">查詢</a>
            </div>
        </form>
        <div class="edit-block">
            <a href="@Url.Action("Add")" class="btn btn-01">新增</a>
        </div>
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>產品類別</th>
                        <th>產品名稱</th>
                        <th>單價</th>
                        <th>圖片1</th>
                        @*<th>圖片2</th>
        <th>圖片3</th>
        <th>圖片4</th>
        <th>圖片5</th>
        <th>圖片6</th>*@
                        <th>是否開放詢價</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                    <tr>
                        <td>@Item.CATEGORY_NAME</td>
                        <td>@Item.NAME</td>
                        <td>@Item.PRICE</td>
                        <td>
                            @if (!string.IsNullOrEmpty(Item.PIC1))
                            {
                                <img src="../@Item.PIC1.Substring(Item.PIC1.IndexOf("UPLOADFILES"))" width="300px" height="auto" />
                            }
                        </td>
                        @*<td>
            @if (!string.IsNullOrEmpty(Item.PIC2))
            {
                <img src="../@Item.PIC2.Substring(Item.PIC2.IndexOf("UPLOADFILES"))" width="100%" height="auto" />
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(Item.PIC3))
            {
                <img src="../@Item.PIC3.Substring(Item.PIC3.IndexOf("UPLOADFILES"))" width="100%" height="auto" />
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(Item.PIC4))
            {
                <img src="../@Item.PIC4.Substring(Item.PIC4.IndexOf("UPLOADFILES"))" width="100%" height="auto" />
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(Item.PIC5))
            {
                <img src="../@Item.PIC5.Substring(Item.PIC5.IndexOf("UPLOADFILES"))" width="100%" height="auto" />
            }
        </td>
        <td>
            @if (!string.IsNullOrEmpty(Item.PIC6))
            {
                <img src="../@Item.PIC6.Substring(Item.PIC6.IndexOf("UPLOADFILES"))" width="100%" height="auto" />
            }
        </td>*@
                        <td>@(Item.IS_INQUIRY ? "是" : "否")</td>

                        <td>
                            <a href="@Url.Action("Edit",new {p_PRODUCT_GUID=Item.PRODUCT_GUID})" class="btn btn-01">修改</a>
                            <a href="@Url.Action("Delete",new {p_PRODUCT_GUID=Item.PRODUCT_GUID})" data-toggle="modal" data-target="#modal-container" class="btn btn-02">刪除</a>
                        </td>
                    </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>
