﻿@model TVMLib.dl.AdminProduct.AdminProductVM

@{
    ViewBag.Title = "產品異動";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-banner">
    <div>
        產品異動
    </div>
</div>
<div class="common-wrap">

    @using (Html.BeginForm("Edit", "AdminProduct", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.PRODUCT_GUID)

        <div class="field">
            <span>@Html.DisplayNameFor(m => m.CATEGORY_GUID)</span>
            @Html.DropDownListFor(m => m.CATEGORY_GUID, (IList<SelectListItem>)ViewBag.TB_CATEGORY_DDL)
            @Html.HiddenFor(m => m.CATEGORY_GUID)
        </div>
        @Html.ValidationMessageFor(m => m.CATEGORY_GUID, "", new { @class = "text-danger" })

        <div class="field">
            <span>@Html.DisplayNameFor(m => m.NAME)</span>
            @Html.TextBoxFor(m => m.NAME, new { @Placeholder = "請輸入產品名稱" })
        </div>
        @Html.ValidationMessageFor(m => m.NAME, "", new { @class = "error-tip" })

        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PRICE)</span>
            @Html.TextBoxFor(m => m.PRICE, new { @Placeholder = "請輸入產品單價" })
        </div>
        @Html.ValidationMessageFor(m => m.PRICE, "", new { @class = "error-tip" })

        <div class="field" style="vertical-align:middle !important;">
            <span>@Html.DisplayNameFor(m => m.DESCRIPTION)</span>
            @Html.TextAreaFor(m => m.DESCRIPTION, new { @Placeholder = "請輸入產品敘述", @cols = 80, @rows = 10 })
        </div>
        @Html.ValidationMessageFor(m => m.DESCRIPTION, "", new { @class = "error-tip" })



        <div class="field">
            <span>@Html.DisplayNameFor(m => m.IS_INQUIRY)</span>
            @Html.CheckBoxFor(m => m.IS_INQUIRY, new { @Placeholder = "是否開放詢價功能" })
        </div>

        if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.PIC1))
            {

                <img src="../@Model.PIC1.Substring(Model.PIC1.IndexOf("UPLOADFILES"))" width="200px" height="auto" />
                @Html.HiddenFor(m => m.PIC1)
            }
        }
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PIC1)</span>

            @Html.TextBoxFor(m => m.PIC1_UPLOAD, new { type = "file", accept = "image/*" })
        </div>
        if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.PIC2))
            {
                <img src="../@Model.PIC2.Substring(Model.PIC2.IndexOf("UPLOADFILES"))" width="200px" height="auto" />
                @Html.HiddenFor(m => m.PIC2)
            }
        }
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PIC2)</span>

            @Html.TextBoxFor(m => m.PIC2_UPLOAD, new { type = "file", accept = "image/*" })
        </div>
        if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.PIC3))
            {
                <img src="../@Model.PIC3.Substring(Model.PIC3.IndexOf("UPLOADFILES"))" width="200px" height="auto" />
                @Html.HiddenFor(m => m.PIC3)
            }
        }
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PIC3)</span>

            @Html.TextBoxFor(m => m.PIC3_UPLOAD, new { type = "file", accept = "image/*" })
        </div>
        if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.PIC4))
            {
                <img src="../@Model.PIC4.Substring(Model.PIC4.IndexOf("UPLOADFILES"))" width="200px" height="auto" />
                @Html.HiddenFor(m => m.PIC4)
            }
        }
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PIC4)</span>

            @Html.TextBoxFor(m => m.PIC4_UPLOAD, new { type = "file", accept = "image/*" })
        </div>
        if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.PIC5))
            {
                <img src="../@Model.PIC5.Substring(Model.PIC5.IndexOf("UPLOADFILES"))" width="200px" height="auto" />
                @Html.HiddenFor(m => m.PIC5)
            }
        }
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PIC5)</span>

            @Html.TextBoxFor(m => m.PIC5_UPLOAD, new { type = "file", accept = "image/*" })
        </div>
        if (Model != null)
        {
            if (!string.IsNullOrEmpty(Model.PIC6))
            {
                <img src="../@Model.PIC6.Substring(Model.PIC6.IndexOf("UPLOADFILES"))" width="200px" height="auto" />
                @Html.HiddenFor(m => m.PIC6)
            }
        }
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PIC6)</span>

            @Html.TextBoxFor(m => m.PIC6_UPLOAD, new { type = "file", accept = "image/*" })
        </div>

        <div class="button-wrap center">
            <a class="btn btn-b" href="@Url.Action("AdminProduct","AdminProduct")">回產品管理</a>
            <input type="submit" class="btn btn-01" value="送出">
        </div>

        @Scripts.Render("~/bundles/jqueryval")

    }
</div>
