﻿@model TVMLib.dl.Login.LoginVM
@{
    ViewBag.Title = "KUST 後台管理系統 - 會員登入";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-banner">
    <div>
        KUST 後台管理系統 - 會員登入
    </div>
</div>
<div class="common-wrap">

    <form class="user-form" action="@Url.Action("Login")" method="post">
        @Html.AntiForgeryToken()
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.ACCOUNT)</span>
            @Html.TextBoxFor(m => m.ACCOUNT, new { @Placeholder = "請輸入登入帳號" })
        </div>
        @Html.ValidationMessageFor(m => m.ACCOUNT, "", new { @class = "error-tip" })
        <div class="field">
            <span>@Html.DisplayNameFor(m => m.PASSWORD)</span>
            @Html.PasswordFor(m => m.PASSWORD, new { @Placeholder = "請輸入登入密碼" })
        </div>
        @Html.ValidationMessageFor(m => m.PASSWORD, "", new { @class = "error-tip" })


        <div class="button-wrap center">
            @*<a class="btn btn-b" href="@Url.Action("Registered","Login")">申請加入</a>*@
            <input type="submit" class="btn btn-01" value="登　　入">
        </div>
        @Scripts.Render("~/JavaScript/jqueryval")
    </form>
</div>

<style>
    .footer {
        box-sizing: border-box;
        /* 設定footer絕對位置在底部 */
        position: absolute;
        bottom: 0;
        /* 展開footer寬度 */
        width: 100%;
    }
</style>