﻿@model TVMLib.dl.TB_ABOUTUS
@{
    ViewBag.Title = "關於我們管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="page-banner">
    <div>
        關於我們內容修改
    </div>
</div>
<div class="common-wrap">

    @using (Html.BeginForm("Edit", "AdminAboutus", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ABOUTUS_GUID)

    <div class="v-type">
        <div class="field-name">
            <span>請輸入上方內容</span>
        </div>
        <div>
            @Html.TextAreaFor(m => m.ABOUTUS_MAIN1, new { @Placeholder = "請輸入上方內容", @class = "ckeditor" })
        </div>
    </div>

        <div class="field">
            <div class="field-name">
                @Html.DisplayNameFor(m => m.ABOUTUS_LINK_TEXT)
            </div>
            @Html.TextBoxFor(m => m.ABOUTUS_LINK_TEXT, new { @Placeholder = "請輸入連結說明文字" })
        </div>

        <div class="field">
            <div class="field-name">
                @Html.DisplayNameFor(m => m.ABOUTUS_LINK)
            </div>
            @Html.TextBoxFor(m => m.ABOUTUS_LINK, new { @Placeholder = "請輸入連結" })
        </div>


        <div class="v-type">
            <div class="field-name">
                <span>請輸入下方內容</span>
            </div>
            <div>
                @Html.TextAreaFor(m => m.ABOUTUS_MAIN2, new { @Placeholder = "請輸入下方內容", @class = "ckeditor" })
            </div>
        </div>


        <div class="button-wrap center">
            <input type="submit" class="btn btn-01" value="送出">
        </div>


        @Scripts.Render("~/bundles/jqueryval")

        <script>
            CKEDITOR.replace('ABOUTUS_MAIN1', {
                filebrowserImageUploadUrl: '/AdminNews/UploadPicture'
            });
            CKEDITOR.config.width = '100%';
            CKEDITOR.config.height = '300px';
            CKEDITOR.config.htmlEncodeOutput = true;

            CKEDITOR.replace('ABOUTUS_MAIN2', {
                filebrowserImageUploadUrl: '/AdminNews/UploadPicture'
            });
            CKEDITOR.config.width = '100%';
            CKEDITOR.config.height = '300px';
            CKEDITOR.config.htmlEncodeOutput = true;
        </script>
    }
</div>

<style>
    .user-form {
        max-width: 800px !important;
    }
</style>
