﻿@model TVMLib.dl.TB_CONTACT
<div class="modal-header">
    檢視聯絡我們
</div>
<form class="user-form" action="@Url.Action("Edit")" method="post">

    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.CONTACT_GUID)
        <div class="v-type">
            <div class="field">
                <div class="field-name">
                    留言者
                </div>
                @Html.TextBoxFor(m => m.NAME, new { @Placeholder = "請輸入留言者", @readonly = "readonly" })
            </div>
            @Html.ValidationMessageFor(m => m.NAME, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    信箱
                </div>
                @Html.TextBoxFor(m => m.EMAIL, new { @Placeholder = "請輸入信箱", @readonly = "readonly" })
            </div>
            @Html.ValidationMessageFor(m => m.EMAIL, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    內容
                </div>
                @Html.TextAreaFor(m => m.MAIN, new { @Placeholder = "請輸入內容", @readonly = "readonly" })
            </div>
            @Html.ValidationMessageFor(m => m.MAIN, "", new { @class = "error-tip" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">確認</button>

    </div>

</form>
