﻿@model List<TVMLib.dl.TB_CONTACT>
@{
    ViewBag.Title = "聯絡我們管理";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="page-wrap">
    <div class="page-banner">
        <div>
            聯絡我們管理
        </div>
    </div>
    <div class="common-wrap">
        <form action="@Url.Action("Search")" method="get">
            <div class="filter-block">
                <div class="title">
                    Filter
                </div>
                <div class="filter-field">
                    <label>關鍵字</label>
                    <input type="text" name="p_KeyWord" value="" />
                </div>
                <button type="submit" class="btn btn-01" >查詢</button>
            </div>
        </form>
  
        <div class="footable-wrap">
            <table class="footable text-center">
                <thead>
                    <tr>
                        <th>留言者</th>
                        <th>信箱</th>
                        <th data-breakpoints="xs">內容</th>                        
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        for (int i = 0; i < Model.Count; i++)
                        {
                            var Item = Model.ElementAt(i);
                            <tr>
                                <td>@Item.NAME</td>
                                <td>@Item.EMAIL</td>
                                <td>@(StripHTML.getStripHTMLInList(Item.MAIN))</td>
                                <td>
                                    <a href="@Url.Action("ViewContact",new {p_CONTACR_GUID=Item.CONTACT_GUID})" data-toggle="modal" data-target="#modal-container"  class="btn btn-01">檢視</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

    </div>

</div>


