﻿@model TVMLib.dl.TB_NEWS

<div class="modal-header">
    編輯消息
</div>
<form class="user-form" action="@Url.Action("Edit")" method="post">

    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NEWS_GUID)
        <div class="v-type">
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.TITLE)
                </div>
                @Html.TextBoxFor(m => m.TITLE, new { @Placeholder = "請輸入消息標題" })
            </div>
            @Html.ValidationMessageFor(m => m.TITLE, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.MAIN)
                </div>
                @Html.TextAreaFor(m => m.MAIN, new { @Placeholder = "請輸入消息內容" })
            </div>
            @Html.ValidationMessageFor(m => m.MAIN, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.IS_ACTIVE)
                </div>
                <label>
                    @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @Placeholder = "請選擇是否上架" })

                </label>
            </div>
            @Html.ValidationMessageFor(m => m.IS_ACTIVE, "", new { @class = "error-tip" })
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-04" data-dismiss="modal">取消</button>
        <button type="submit" class="btn btn-01">儲存</button>
    </div>

</form>
