﻿@model TVMLib.dl.TB_NEWS

@{
    ViewBag.Title = "消息異動";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/ckeditor/ckeditor.js"></script>

<div class="page-banner">
    <div>
        消息異動
    </div>
</div>
<div class="common-wrap">

    @using (Html.BeginForm("Edit", "AdminNews", FormMethod.Post, new { enctype = "multipart/form-data", @class = "user-form" }))
    {

        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.NEWS_GUID)

        <div class="v-type">
            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.TITLE)
                </div>
                @Html.TextBoxFor(m => m.TITLE, new { @Placeholder = "請輸入消息標題" })
            </div>
            @Html.ValidationMessageFor(m => m.TITLE, "", new { @class = "error-tip" })

            <div>
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.MAIN)
                </div>
                @Html.TextAreaFor(m => m.MAIN, new { @Placeholder = "請輸入消息內容",@class= "ckeditor" })
            </div>
            @Html.ValidationMessageFor(m => m.MAIN, "", new { @class = "error-tip" })

            <div class="field">
                <div class="field-name">
                    @Html.DisplayNameFor(m => m.IS_ACTIVE)
                </div>
                <label>
                    @Html.CheckBoxFor(m => m.IS_ACTIVE, new { @Placeholder = "請選擇是否上架" })

                </label>
            </div>
            @Html.ValidationMessageFor(m => m.IS_ACTIVE, "", new { @class = "error-tip" })
        </div>

        <div class="button-wrap center">
            <a class="btn btn-b" href="@Url.Action("AdminNews","AdminNews")">回消息管理</a>
            <input type="submit" class="btn btn-01" value="送出">
        </div>


        @Scripts.Render("~/bundles/jqueryval")

        <script>
            CKEDITOR.replace('MAIN', {             
                filebrowserImageUploadUrl: '/AdminNews/UploadPicture'
            });
            CKEDITOR.config.width = '100%';
            CKEDITOR.config.height = '300px';
            CKEDITOR.config.htmlEncodeOutput = true;
        </script>
    }
</div>

<style>
    .user-form {
        max-width: 800px !important;
    }
</style>
