﻿@model List<TVMLib.dl.QA.QAVM>
@{
    ViewBag.Title = "Q & A";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}



<!-- Wrapper start -->
<div class="main">

    <!-- Header section start -->
    <section class="module-small bg-dark bg-dark-60" data-background="../../assets/images/QA.jpg">
        <div class="container">

            <div class="row">

                <div class="col-sm-6 col-sm-offset-3">

                    <h1 class="module-title font-alt">Q & A</h1>
                    @*<div class="module-subtitle font-serif mb-0">
                            對於 KUST Innovative 雄大科技 有任何的問題嗎？
                            <br />
                            或許可以在這裡找到答案！
                        </div>*@

                </div>

            </div><!-- .row -->

        </div>
    </section>
    <!-- Header section end -->
    <!-- Pricing start -->
    <section class="module-small">
        <div class="container">

            <div class="row mb-60">

                <div class="col-sm-8 col-sm-offset-2">

                    <form role="form" method="post" action="Search">
                        <div class="search-box">
                            <input type="text" class="form-control" name="p_KeyWord" placeholder="搜尋...">
                            <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>

                </div>

            </div><!-- .row -->

            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">

                    <div role="tabpanel">

                        <!-- Nav tabs start-->
                        <ul class="nav nav-tabs font-alt" role="tablist">

                            @for (var q = 0; q < Model.Count; q++)
                            {
                                <li class="@(q==0?"active":"" )">
                                    <a href="#@Model[q].CATEGORY" data-toggle="tab"> @Model[q].CATEGORY　</a>
                                </li>

                            }


                        </ul>
                        <!-- Nav tabs end -->
                        <!-- Tab panes start-->
                        <div class="tab-content">
                            @{
                                var j = 0;
                                var k = 0;
                            }

                            @for (var q = 0; q < Model.Count; q++)
                            {

                                <!-- Tab start -->
                                <div class="tab-pane @(q == 0 ? "active" : "" ) " id="@Model[q].CATEGORY">

                                    <!-- Accordions start -->
                                    <div class="panel-group" id="qa_@j">
                                        @for (var i = 0; i < Model[q].l_TB_QA.Count; i++)
                                        {

                                            <!-- Accordion item start -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title font-alt">
                                                        <a data-toggle="collapse" data-parent="#qa_@j" href="#qa_@(j + "_" + k)" class="collapsed">
                                                            @Model[q].l_TB_QA[i].TITLE
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="qa_@(j + "_" + k)" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        @Html.Raw(Model[q].l_TB_QA[i].MAIN)
                                                    </div>
                                                </div>
                                            </div>

                                            k++;
                                        }

                                        @{
                                            j++;

                                        }

                                    </div>

                                    <!-- Accordions end -->



                                </div>

                                <!-- Tab panes end-->

                            }
                        </div>

                    </div>

                </div><!-- .row -->

            </div>


        </div>
    </section>
    <!-- Pricing end -->


</div>
<!-- Wrapper start -->

<style>
    .footer {
        box-sizing: border-box;
        /* 設定footer絕對位置在底部 */
        position: absolute;
        bottom: 0;
        /* 展開footer寬度 */
        width: 100%;
    }
</style>