﻿@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
body {
  font-size: 16px;
  font-family: 'Karla', sans-serif,'Microsoft JhengHei';
  padding: 0;
  margin: 0; }

a {
  text-decoration: none !important; }

.common-wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px; }

.page-banner {
  height: 160px;
  background-image: url("../img/rice-560046_1920.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
  margin-bottom: 40px; }
  .page-banner > div {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
    transform: translate(-50%, -50%); }

.filter-block {
  background-image: url("../img/dots-bg.png");
  padding: 30px 20px 20px 20px;
  margin-bottom: 20px;
  position: relative; }
  .filter-block .title {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.3em;
    border-bottom: 1px solid #000;
    position: absolute;
    top: -20px; }
  .filter-block .filter-field label {
    font-size: 0.9em; }
  .filter-block .filter-field input {
    border: 1px solid #79b78c;
    padding: 3px 10px;
    margin-bottom: 15px; }

.edit-block {
  text-align: right;
  margin-bottom: 10px; }

.header {
  position: relative; }
  .header:before {
    content: "";
    display: block;
    background-color: #79b78c;
    width: 100%;
    height: 3px; }
    @media screen and (max-width: 700px) {
      .header:before {
        height: 5px;
        z-index: 999;
        position: fixed;
        left: 0;
        top: 0;
        right: 0; } }
  .header .top-wrap {
    display: flex;
    padding: 15px;
    align-items: center; }
    @media screen and (max-width: 700px) {
      .header .top-wrap {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        background-color: #FFF;
        z-index: 998;
        height: 50px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
        padding: 10px 15px 5px 15px;
        padding-left: 70px; } }
    .header .top-wrap .side-menu-btn {
      display: none; }
      @media screen and (max-width: 700px) {
        .header .top-wrap .side-menu-btn {
          display: block;
          position: absolute;
          width: 25px;
          height: 20px;
          left: 15px;
          top: 50%;
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          cursor: pointer;
          z-index: 99; }
          .header .top-wrap .side-menu-btn:before, .header .top-wrap .side-menu-btn:after, .header .top-wrap .side-menu-btn span {
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            background-color: #79b78c;
            -moz-transition: all .3s;
            -o-transition: all .3s;
            -webkit-transition: all .3s;
            transition: all .3s; }
          .header .top-wrap .side-menu-btn:before {
            top: 0;
            content: ''; }
          .header .top-wrap .side-menu-btn span {
            top: 10px;
            opacity: 1; }
          .header .top-wrap .side-menu-btn:after {
            top: 20px;
            content: ''; }
          .header .top-wrap .side-menu-btn.menu-open:before {
            top: 12px;
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
          .header .top-wrap .side-menu-btn.menu-open span {
            opacity: 0; }
          .header .top-wrap .side-menu-btn.menu-open:after {
            top: 12px;
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); } }
    .header .top-wrap .logo-wrap img {
      width: 150px; }
      @media screen and (max-width: 700px) {
        .header .top-wrap .logo-wrap img {
          height: 35px;
          width: auto; } }
    .header .top-wrap .link-wrap {
      flex: 1;
      text-align: right; }
      @media screen and (max-width: 700px) {
        .header .top-wrap .link-wrap .hidden-for-mobile {
          display: none; } }
      .header .top-wrap .link-wrap a {
        color: #555;
        margin: 0 10px;
        font-size: 0.9em; }
        .header .top-wrap .link-wrap a:last-child {
          margin-right: 0; }
  .header .menu-wrap {
    padding: 20px 0;
    background-color: #79b78c; }
    .header .menu-wrap.fixed {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999;
      background-color: #FFF;
      border-top: 5px solid #79b78c;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2); }
      .header .menu-wrap.fixed a {
        color: #79b78c; }
    .header .menu-wrap .show-for-mobile {
      display: none; }
      @media screen and (max-width: 700px) {
        .header .menu-wrap .show-for-mobile {
          display: block; } }
    .header .menu-wrap a {
      color: #FFF;
      font-weight: bold;
      margin-right: 30px; }
      .header .menu-wrap a:last-child {
        margin-right: 0; }
    @media screen and (max-width: 700px) {
      .header .menu-wrap {
        position: fixed;
        left: 0;
        top: 50px;
        right: 0;
        bottom: 0;
        padding: 20px;
        background-color: #FFF;
        z-index: 997;
        transform: translateX(-100%);
        transition: all .3s; }
        .header .menu-wrap.menu-open {
          transform: translateX(0); }
        .header .menu-wrap a {
          color: #79b78c;
          display: block;
          padding: 10px;
          border-bottom: 1px solid #f1f1f1; } }

/*.page-banner {
    background-image: url('../img/banner.png');
    background-size: cover;
    height: 200px;
    position: relative;

    @media screen and (max-width: 700px) {
        height: 100px;
    }


    .page-title {
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        color: #FFF;
        font-size: 2em;
        padding: 5px 15px;
        box-shadow: 13px -13px 0px rgba(255, 255, 255, 0.5);
        background-color: rgb(106, 148, 39);

        @media screen and (max-width: 700px) {
            font-size: 1.2em;
            left: 20px;
        }
    }
}*/
.page-wrap {
  padding-bottom: 20px;
  min-height: 700px; }
  @media screen and (max-width: 700px) {
    .page-wrap {
      padding-top: 50px; } }

.banner-wrap {
  margin-bottom: 40px; }

.scroll-top {
  position: fixed;
  bottom: 105px;
  right: 40px;
  background-color: #6a9427;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  transition: all .3s;
  border-radius: 50%;
  padding: 3px;
  z-index: 800; }
  .scroll-top img {
    width: 50px; }

.m-title {
  position: relative;
  padding: 15px;
  margin-top: 50px; }
  .m-title:after {
    content: '';
    background-color: #79b78c;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
    opacity: 0.2; }
  .m-title:before {
    content: '';
    border: 1px solid #79b78c;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 20px;
    top: -14px;
    z-index: 1;
    opacity: 0.5; }
  .m-title span {
    position: relative;
    z-index: 3; }

.footer {
  background-color: #d8e9dc;
  font-size: 13px;
  padding: 10px 0;
  text-align: center; }

.test-item .item-name {
  margin-top: 20px;
  margin-bottom: 5px; }

.user-form {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
  padding-bottom: 40px; }
  .user-form .field {
    margin-bottom: 15px;
    font-size: 0.9em;
    display: flex; }
    .user-form .field span {
      color: #FFF;
      background-color: #79b78c;
      font-weight: bold;
      line-height: 35px;
      width: 110px;
      text-align: center;
      letter-spacing: -1px; }
    .user-form .field input, .user-form .field select {
      border: 2px solid #79b78c;
      padding: 0 10px;
      height: 35px;
      line-height: 35px;
      flex: 1; }
  .user-form .error-tip {
    color: #FF0000;
    font-size: 0.9em;
    margin-bottom: 10px;
    text-align: center; }

.index-banner {
  padding: 40px 0;
  margin-bottom: 40px;
  position: relative;
  background-image: url("../img/rice-560046_1920.jpg");
  background-size: cover;
  background-position: center center;
  /*img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }*/ }
  .index-banner .banner-text div {
    font-weight: bold;
    font-size: 1.5em;
    color: #FFF;
    margin-bottom: 20px; }
  .index-banner .banner-text span {
    color: #FFF;
    display: inline-block;
    margin-bottom: 10px;
    border-bottom: 1px solid #FFF; }

.category .p-title {
  position: relative;
  padding: 15px; }
  .category .p-title:after {
    content: '';
    background-color: #79b78c;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
    opacity: 0.2; }
  .category .p-title:before {
    content: '';
    border: 1px solid #79b78c;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 20px;
    top: -14px;
    z-index: 1;
    opacity: 0.5; }
  .category .p-title img {
    display: none; }
  .category .p-title div {
    font-size: 2em;
    font-weight: bold;
    z-index: 2;
    position: relative; }
  .category .p-title span {
    z-index: 2;
    position: relative; }

.category .category-list .category {
  height: 150px;
  padding: 20px;
  padding-right: 100px;
  margin-bottom: 25px;
  display: block;
  color: #000; }
  .category .category-list .category .title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 5px; }
  .category .category-list .category .desc span {
    font-weight: bold;
    font-size: 1.2em;
    margin: 0 5px; }
  .category .category-list .category img {
    position: absolute;
    right: 15px;
    height: 150px;
    top: 0; }
  .category .category-list .category.category-01 {
    background-color: #e9b3b1; }
  .category .category-list .category.category-02 {
    background-color: #c9e6e4; }
  .category .category-list .category.category-03 {
    background-color: #fae395; }

.btn {
  transition: all .3s;
  border-radius: 0; }
  .btn.btn-01 {
    background-color: #79b78c;
    color: #FFF; }
    .btn.btn-01:hover {
      background-color: #58a570; }
  .btn.btn-02 {
    background-color: #ff5871;
    color: #FFF; }
    .btn.btn-02:hover {
      background-color: #ff2546; }
  .btn.btn-b {
    border: 2px solid #79b78c;
    color: #79b78c; }
    .btn.btn-b:hover {
      background-color: #79b78c;
      color: #FFF; }
  .btn.br25 {
    border-radius: 25px; }

.button-wrap.right {
  text-align: right; }

.button-wrap.center {
  text-align: center; }

.product-list {
  padding: 40px; }
  @media screen and (max-width: 700px) {
    .product-list {
      padding: 10px; } }
  .product-list .product-wrap {
    color: #585858;
    display: block; }
    .product-list .product-wrap img {
      width: 100%; }
    .product-list .product-wrap + .btn {
      margin-bottom: 50px;
      width: 100%; }

.product-detail {
  padding: 60px;
  /*.may-like {
        & > label {
            text-align: center;
            display: block;
            padding-top: 40px;
        }
    }*/ }
  @media screen and (max-width: 700px) {
    .product-detail {
      padding: 10px; }
      .product-detail .col-md-6 {
        padding: 0; } }
  .product-detail .product-show-wrap {
    padding: 0 60px; }
    @media screen and (max-width: 700px) {
      .product-detail .product-show-wrap {
        padding: 0; } }
  .product-detail .info-wrap {
    margin-bottom: 20px; }
    .product-detail .info-wrap .name {
      font-size: 1.8em;
      padding-bottom: 10px; }
    .product-detail .info-wrap .price {
      margin-bottom: 20px; }
      .product-detail .info-wrap .price span {
        font-weight: bold;
        font-size: 1.5em; }
    .product-detail .info-wrap .info label {
      font-size: 0.8em;
      display: block; }
    .product-detail .info-wrap .info input, .product-detail .info-wrap .info select {
      border: 1px solid #ced4da;
      height: 35px;
      padding: 0 10px;
      width: 100%;
      border-radius: 5px;
      margin-bottom: 20px; }

#to-car-msg {
  /*background: linear-gradient(to right,#f3533e,#ef416e);*/
  background-color: #6a9427;
  color: #FFF;
  text-align: center;
  padding: 40px; }
  #to-car-msg a {
    display: block;
    color: #FFF;
    border: 1px solid #FFF;
    margin-top: 20px;
    transition: all .3s; }
    #to-car-msg a:hover {
      background-color: #FFF;
      color: #6a9427; }

.news {
  margin-bottom: 80px;
  padding-left: 200px;
  position: relative; }
  @media screen and (max-width: 700px) {
    .news {
      padding-left: 0; } }
  @media screen and (min-width: 701px) {
    .news .p-title {
      /*position: absolute;
            left: 40px;
            top: 30%;
            transform: translateY(-50%);
            padding-top: 20px;*/
      position: absolute;
      padding: 15px;
      left: 40px; }
      .news .p-title:after {
        content: '';
        background-color: #79b78c;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 1;
        opacity: 0.2; }
      .news .p-title:before {
        content: '';
        border: 1px solid #79b78c;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 20px;
        top: -14px;
        z-index: 1;
        opacity: 0.5; }
      .news .p-title img {
        display: none;
        position: absolute;
        z-index: 1;
        opacity: 0.3;
        top: 0;
        left: -30px; }
      .news .p-title div {
        font-size: 2em;
        font-weight: bold;
        z-index: 2;
        position: relative; }
      .news .p-title span {
        z-index: 2;
        position: relative; } }
  @media screen and (max-width: 700px) {
    .news .p-title {
      position: relative;
      margin-bottom: 40px; }
      .news .p-title:after {
        content: '';
        background-color: #79b78c;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0;
        top: 10px;
        z-index: 1;
        opacity: 0.2; }
      .news .p-title:before {
        content: '';
        border: 1px solid #79b78c;
        width: 35px;
        height: 35px;
        position: absolute;
        left: 20px;
        top: -14px;
        z-index: 1;
        opacity: 0.5; }
      .news .p-title img {
        display: none;
        position: absolute;
        z-index: 1;
        opacity: 0.3;
        top: -40px;
        left: 50%; }
      .news .p-title div {
        font-size: 2em;
        font-weight: bold;
        z-index: 2;
        position: relative; }
      .news .p-title span {
        z-index: 2;
        position: relative; } }
  .news .news-list {
    margin-bottom: 20px; }
    .news .news-list a {
      display: block;
      border-top: dashed 1px #e5e5e5;
      border-bottom: dashed 1px #e5e5e5;
      padding: 15px 0;
      line-height: 1.6;
      color: #555;
      position: relative;
      padding-right: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
      .news .news-list a:after {
        content: '⇀';
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: #79b78c;
        opacity: 0.5; }
      .news .news-list a span {
        color: #79b78c;
        margin-right: 30px; }

.news-list {
  margin-bottom: 20px; }
  .news-list a {
    display: block;
    border-top: dashed 1px #e5e5e5;
    border-bottom: dashed 1px #e5e5e5;
    padding: 15px 0;
    line-height: 1.6;
    color: #555; }
    .news-list a span {
      color: #79b78c;
      margin-right: 30px; }

.news-title {
  color: #585858;
  font-size: 1.3em;
  font-weight: bold; }

.news-date {
  color: #79b78c;
  font-size: 0.9em;
  margin-bottom: 20px; }

.news-content {
  color: #585858;
  line-height: 175%; }

.table-wrap {
  overflow-x: auto;
  margin-bottom: 30px; }

.table th {
  background-color: #d8e9dc;
  font-size: 0.9em;
  /*white-space: nowrap;*/ }

.table td {
  border: 1px solid #dee2e6; }

.table tr:nth-child(odd) {
  background-color: rgba(216, 233, 220, 0.1); }

.footable th {
  background-color: #d8e9dc;
  font-size: 0.85em;
  /*white-space: nowrap;*/
  padding: 3px 5px; }

.footable td {
  border: 1px solid #dee2e6;
  padding: 5px 3px; }
  .footable td table {
    width: 100%; }
  .footable td input:not([type="file"]), .footable td select {
    margin: 0 5px;
    min-width: 70px;
    line-height: 30px;
    height: 30px;
    padding: 0 5px;
    border: 1px solid #CCC; }

.supervision-page {
  position: relative;
  padding-bottom: 20px; }
  .supervision-page .supervision-menu {
    position: absolute;
    width: 110px;
    left: 0;
    top: 0; }
    .supervision-page .supervision-menu a {
      display: block;
      font-size: 0.85em;
      color: #585858;
      margin-bottom: 20px;
      padding-left: 25px;
      position: relative; }
      .supervision-page .supervision-menu a span {
        border: 1px solid #b7b7b7;
        display: inline-block;
        width: 20px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        left: 0;
        top: 0; }
      .supervision-page .supervision-menu a.active span {
        background-color: #79b78c;
        border: 1px solid #79b78c;
        color: #FFF; }
    @media screen and (max-width: 700px) {
      .supervision-page .supervision-menu {
        width: 20px;
        overflow-x: hidden; }
        .supervision-page .supervision-menu a {
          white-space: nowrap; } }
  .supervision-page .supervision-content {
    margin-left: 140px; }
    @media screen and (max-width: 700px) {
      .supervision-page .supervision-content {
        margin-left: 40px; } }
    .supervision-page .supervision-content .button-wrap {
      margin-top: 30px; }

.v-type.sm-size {
  width: 90%;
  max-width: 380px;
  margin: 0 auto;
  padding-bottom: 40px; }

.v-type .field {
  display: flex;
  margin-bottom: 10px; }
  .v-type .field .field-name {
    width: 70px;
    margin-right: 10px;
    font-size: 0.9em;
    text-align: justify; }
    .v-type .field .field-name:after {
      content: "";
      display: inline-block;
      width: 100%; }
  .v-type .field #twzipcode {
    display: flex;
    flex: 1;
    min-width: 1px;
    flex-wrap: wrap; }
    .v-type .field #twzipcode > div {
      margin-bottom: 5px;
      flex: 1;
      display: flex;
      min-width: 1px; }
      .v-type .field #twzipcode > div[data-role="county"] {
        margin-right: 5px; }
    .v-type .field #twzipcode input[name="address"] {
      width: 100%;
      flex: none; }
  .v-type .field input:not([type='checkbox']):not([type='radio']):not([type='submit']), .v-type .field select {
    flex: 1;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px; }
  .v-type .field textarea {
    flex: 1;
    height: 200px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 3px; }
